schema/InforOAGIS/Nouns/AccountingEntity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 

            ** OAGIS® Revision: 9.2  ** 
            ** Date: 11 May 2007 **
            ** Copyright 1997-2007, All Rights Reserved **

            This is an OAGIS® BOD XML Schema (XSD) Definition.

            License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

            For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.

            XML Schema

-->
 <!--
 © Copyright 2011 Infor Global Solutions Technology GmbH and/or its affiliates and subsidiaries. All rights reserved. The
word and design marks set forth herein are trademarks and/or registered trademarks of Infor Global Solutions
Technology GmbH and/or its affiliates and subsidiaries. All rights reserved. All other trademarks listed herein
are the property of their respective owners.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.infor.com/InforOAGIS/2"
targetNamespace="http://schema.infor.com/InforOAGIS/2" elementFormDefault="qualified" attributeFormDefault="unqualified" 
version="2.13.6"><xs:element name="AccountingEntity" type="AccountingEntityType"/>
<xs:complexType name="AccountingEntityType">
<xs:sequence>
<xs:element name="IDs" minOccurs="0" maxOccurs="1" type="IDsType">
<xs:annotation>
<xs:documentation>
A container that holds a list of IDs without RevisionID.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DisplayID" minOccurs="0" maxOccurs="1" type="String1BaseType">
<xs:annotation>
<xs:documentation>
The ID for this object formatted as closely as possible to the way the customer would expect to see the ID. This element is used for display only and has no other purpose.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LastModificationDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The datetime on which the object was last modified.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LastModificationPerson" minOccurs="0" maxOccurs="1" type="LastModificationPersonType">
<xs:annotation>
<xs:documentation>
A reference tot he person that took the action that caused this BOD to be published.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The date that document was created within the system of record.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="DescriptionType">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="NoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Status" minOccurs="0" maxOccurs="1" type="StatusType">
<xs:annotation>
<xs:documentation>
Indicates the current state of the associated object.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ShortName" minOccurs="0" maxOccurs="unbounded" type="ShortNameType">
<xs:annotation>
<xs:documentation>
a shortenned name used to represent the associated object.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LongName" minOccurs="0" maxOccurs="unbounded" type="LongNameType">
<xs:annotation>
<xs:documentation>
Indicates the long legal name as required by some countries (for example, Russia)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="TaxID" minOccurs="0" maxOccurs="unbounded" type="TaxIDType">
<xs:annotation>
<xs:documentation>
Tax Identification Number of the party - Identifier for a business or individual provided by the government. This maybe a FIIN, Social Security Number, or Drivers License Number to name a few.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AccountingChartReference" minOccurs="0" maxOccurs="1" type="AccountingChartReferenceType">
<xs:annotation>
<xs:documentation>
Reference to the AccountingChart noun.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CurrencyCode" minOccurs="0" maxOccurs="unbounded" type="CurrencyCodeType">
<xs:annotation>
<xs:documentation>
Specifies the currency code of the object in which it is associated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MassUOMCode" minOccurs="0" maxOccurs="1" type="MassUOMCodeType">
<xs:annotation>
<xs:documentation>
UOM Code to be used for length
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="VolumeUOMCode" minOccurs="0" maxOccurs="1" type="VolumeUOMCodeType">
<xs:annotation>
<xs:documentation>
UOM Code to be used for volume
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AreaUOMCode" minOccurs="0" maxOccurs="1" type="AreaUOMCodeType">
<xs:annotation>
<xs:documentation>
UOM Code to be used for length
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LengthUOMCode" minOccurs="0" maxOccurs="1" type="LengthUOMCodeType">
<xs:annotation>
<xs:documentation>
UOM Code to be used for length
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Location" minOccurs="0" maxOccurs="unbounded" type="LocationType">
<xs:annotation>
<xs:documentation>
Maintains the locations or sites (offices, warehouses, plants) within the enterprise.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="BaseCurrency" minOccurs="0" maxOccurs="1" type="BaseCurrencyType">
</xs:element>
<xs:element name="ReportCurrency" minOccurs="0" maxOccurs="1" type="ReportCurrencyType">
</xs:element>
<xs:element name="SecondaryCurrency" minOccurs="0" maxOccurs="1" type="SecondaryCurrencyType">
</xs:element>
<xs:element name="FinancialCalendarReference" minOccurs="0" maxOccurs="1" type="FinancialCalendarReferenceType">
<xs:annotation>
<xs:documentation>
Reference to the FinancialCalendar noun.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="UserArea" minOccurs="0" maxOccurs="1" type="UserAreaType">
<xs:annotation>
<xs:documentation>
Allows the user of
				OAGIS to extend the specification in order to provide additional information that is
				not captured in OAGIS.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDsType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="IDType">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDType">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="variationID" type="IntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The number of times this object has been published with these attributes for the accounting entity and location.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="LastModificationPersonType">
<xs:sequence>
<xs:element name="IDs" minOccurs="0" maxOccurs="1" type="IDs1Type">
<xs:annotation>
<xs:documentation>
A container that holds a list of IDs without RevisionID.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="1" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDs1Type">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID1Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID1Type">
<xs:simpleContent>
<xs:extension base="NormalizedString1BaseType">
<xs:attribute name="accountingEntity" type="String2BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="DescriptionType">
<xs:simpleContent>
<xs:extension base="String3BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="NoteType">
<xs:simpleContent>
<xs:extension base="String4BaseType">
<xs:attribute name="noteID" type="NormalizedString2BaseType" use="optional">
<xs:annotation>
<xs:documentation>
An optional identifier, that when used can uniquely identify each instance of a note within a BOD. It is only unique within the context of the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="use" type="NormalizedString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Indicates if the note should be published externally or if it is for internal use only. It may have the values &apos;&apos;Internal&apos;&apos; and &apos;&apos;External&apos;&apos;.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="author" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
Person who created the note
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="entryDateTime" type="UnionType" use="optional">
<xs:annotation>
<xs:documentation>
Entry date and time in GMT.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="status" type="String5BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Status of a note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="NormalizedString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies where the note is used and is associated to an Infor defined code list, &apos;&apos;NoteType,&apos;&apos; that indicates the processes that might use the note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="StatusType">
<xs:sequence>
<xs:element name="Code" minOccurs="0" maxOccurs="1" type="CodeType">
<xs:annotation>
<xs:documentation>
Code used to define the status of this document. See the code list associated to this code for the list of valid codes and their meanings.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
date and time this document becomes effective
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReasonCode" minOccurs="0" maxOccurs="1" type="ReasonCodeType">
<xs:annotation>
<xs:documentation>
Identifies the reason for an activity
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ArchiveIndicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
Indicator that determines if the BOD has been archived. The default value is false so there is no need to explicitly set this to false.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString5BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  GenericStatus
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="ReasonCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString1BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String6BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="NameType">
<xs:simpleContent>
<xs:extension base="StringBaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="ShortNameType">
<xs:simpleContent>
<xs:extension base="String7BaseType">
<xs:attribute name="languageID" type="Language1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="LongNameType">
<xs:simpleContent>
<xs:extension base="String8BaseType">
<xs:attribute name="languageID" type="Language2BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Language must be specified if the language is not &apos;en-us&apos;
                                http://usaavwmydaydb1.infor.com.:50001/boddesk/BodDesk/clear.cache.gif                        
                                                        
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="TaxIDType">
<xs:simpleContent>
<xs:extension base="NormalizedString6BaseType">
<xs:attribute name="schemeName" type="String9BaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="schemeAgencyName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The name of the entity that created the ID. This is only used when the ID is defined externally and there is no ID for that agency - like for government agencies.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="AccountingChartReferenceType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID1Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="NameType">
<xs:annotation>
<xs:documentation>
The name of the AccountingChart
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CurrencyCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString7BaseType">
<xs:attribute name="listID" type="NormalizedString6BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  Currencies
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="MassUOMCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString8BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="VolumeUOMCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString8BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="AreaUOMCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString8BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="LengthUOMCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString8BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="LocationType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID2Type">
<xs:annotation>
<xs:documentation>
Identifier of the given location within the scope of the integration
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the Location
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Address" minOccurs="0" maxOccurs="unbounded" type="AddressType">
<xs:annotation>
<xs:documentation>
Address for the given location
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description1Type">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LogisticsLocation" minOccurs="0" maxOccurs="1" type="LogisticsLocationType">
<xs:annotation>
<xs:documentation>
Used to reference a location that is defined for the purposes of tracking transactions against a logistical company.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Classification" minOccurs="0" maxOccurs="unbounded" type="ClassificationType">
<xs:annotation>
<xs:documentation>
Classification of the location in one or more of the groups defined below
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="VirtualLocationIndicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
Used to indicate if a location is not a physical internal warehouse, but rather one used for tracking direct shipments.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Status" minOccurs="0" maxOccurs="1" type="Status1Type">
<xs:annotation>
<xs:documentation>
Status to determine if a location is Pending, Active, Unavailable or Inactive. Pending is not available yet. Active is available. Unavailable is temporarily unavailable. Inactive is no longer available.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="type" type="NormalizedString15BaseType" use="optional">
<xs:annotation>
<xs:documentation>
From the LocationType code list, an extensible list that includes Warehouse, Manufacturing, Purchasing, Sales, Financial, Others.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="ID2Type">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="accountingEntity" type="String2BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The ID of the accounting entity that is associated with this ID. Used with the global ID - no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="variationID" type="IntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The sequence number that identifies the number of times that this BOD, for this object, has been published. Used with the global ID- no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The logical ID of the system that is this SOR for this noun instance.. Used with the global ID- no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="AddressType">
<xs:sequence>
<xs:element name="FormatCode" minOccurs="0" maxOccurs="1" type="FormatCodeType">
<xs:annotation>
<xs:documentation>
Format Code indicates the format of the address. Examples are US Military, US Formatted Address, European Formatted Address etc. There is no intent to decode the address formats - these are informational only. No list of valid values exists or is proposed here.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AttentionOfName" minOccurs="0" maxOccurs="unbounded" type="AttentionOfNameType">
<xs:annotation>
<xs:documentation>
The name of the person to whom this document would be intended.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="AddressLine" minOccurs="0" maxOccurs="unbounded" type="AddressLineType">
<xs:annotation>
<xs:documentation>
There are multiple methods of expressing an address line in OAGIS. The primary method supported by Infor will be a sequences collection of adderss lines. A more detailed address can be implemented and documented when the need arises. Only that actuall address lines should be included in these lines as the city, country sub-dicision, country and postal code are separate elements that should always be included in an address.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:sequence>
<xs:element name="BuildingNumber" minOccurs="0" maxOccurs="1" type="BuildingNumberType">
<xs:annotation>
<xs:documentation>
The Number of the building or house on the street that identifies the location. For example, Building 300 on Standards Parkway.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="BuildingName" minOccurs="0" maxOccurs="1" type="BuildingNameType">
<xs:annotation>
<xs:documentation>
The building or house name on the street that identifies the location.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="StreetName" minOccurs="0" maxOccurs="1" type="StreetNameType">
<xs:annotation>
<xs:documentation>
The street name of the building or house that identifies the location.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Unit" minOccurs="0" maxOccurs="1" type="UnitType">
<xs:annotation>
<xs:documentation>
The unit of the building or house that identifies the location.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Floor" minOccurs="0" maxOccurs="1" type="FloorType">
<xs:annotation>
<xs:documentation>
The floor of the building or house that identifies the location.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PostOfficeBox" minOccurs="0" maxOccurs="1" type="PostOfficeBoxType">
<xs:annotation>
<xs:documentation>
The post office box that is used for the location.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:choice>
<xs:element name="CitySubDivisionName" minOccurs="0" maxOccurs="unbounded" type="StringBaseType">
<xs:annotation>
<xs:documentation>
Vanity city name like La Jolla for San Diego
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CityName" minOccurs="0" maxOccurs="1" type="StringBaseType">
<xs:annotation>
<xs:documentation>
The city must be provided for an address.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CountrySubDivisionCode" minOccurs="0" maxOccurs="unbounded" type="CountrySubDivisionCodeType">
<xs:annotation>
<xs:documentation>
Qualifies the further division of the Country. These may be Districts, Regions, States, Provinces etc. A possible list of values is as specified in ISO 3166-2.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CountryCode" minOccurs="0" maxOccurs="1" type="CountryCodeType">
<xs:annotation>
<xs:documentation>
CountryCode
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PostalCode" minOccurs="0" maxOccurs="1" type="PostalCodeType">
<xs:annotation>
<xs:documentation>
Postal Code of the Address.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Preference" minOccurs="0" maxOccurs="1" type="PreferenceType">
<xs:annotation>
<xs:documentation>
Holds preference information for the instance of the object being referenced.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="languageCode" type="NormalizedString12BaseType" use="optional">
</xs:attribute>
<xs:attribute name="type" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The value may be &apos;&apos;text&apos;&apos; or &apos;&apos;discrete&apos;&apos;. Text indicates that the Address elements are used and discrete indicates that the &apos;&apos;Street&apos;&apos; and &apos;&apos;Number&apos;&apos; elements are used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="FormatCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString9BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  Address Format Codes
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="AttentionOfNameType">
<xs:simpleContent>
<xs:extension base="StringBaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="AddressLineType">
<xs:simpleContent>
<xs:extension base="StringBaseType">
<xs:attribute name="sequence" type="PositiveIntegerBaseType" use="required">
<xs:annotation>
<xs:documentation>
The sequence number of an address.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="BuildingNumberType">
<xs:simpleContent>
<xs:extension base="String10BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="BuildingNameType">
<xs:simpleContent>
<xs:extension base="String5BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="StreetNameType">
<xs:simpleContent>
<xs:extension base="String11BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="UnitType">
<xs:simpleContent>
<xs:extension base="String11BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="FloorType">
<xs:simpleContent>
<xs:extension base="String11BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="PostOfficeBoxType">
<xs:simpleContent>
<xs:extension base="String10BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="CountrySubDivisionCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString1BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="CountryCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString10BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  Countries
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="PostalCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString11BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String6BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="PreferenceType">
<xs:sequence>
<xs:element name="Sequence" minOccurs="0" maxOccurs="1" type="PositiveInteger1BaseType">
<xs:annotation>
<xs:documentation>
The numeric ranking of this element in a collection of like elements where 1 is the preferred option.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Indicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
Indicates that this element is the prefered element in a collection of like elements.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Description1Type">
<xs:simpleContent>
<xs:extension base="String12BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="LogisticsLocationType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID3Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID3Type">
<xs:simpleContent>
<xs:extension base="NormalizedString13BaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String2BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="location" type="String2BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The location that is associated with the maintenance of this instance of the noun. This attribute must not be included on the ID of objects that are maintained at the tenant or accounting entity level.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="variationID" type="IntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The number of times this object has been published with these attributes for the accounting entity and location.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="ClassificationType">
<xs:sequence>
<xs:element name="Codes" minOccurs="0" maxOccurs="1" type="CodesType">
<xs:annotation>
<xs:documentation>
A collection of codes with a sequence added to the codes for ordering.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description1Type">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="type" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies the type of Classification of the Location.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="CodesType">
<xs:sequence>
<xs:element name="Code" minOccurs="1" maxOccurs="unbounded" type="Code1Type">
<xs:annotation>
<xs:documentation>
The code value for the dimension identified in the code list.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Code1Type">
<xs:simpleContent>
<xs:extension base="NormalizedString1BaseType">
<xs:attribute name="sequence" type="PositiveIntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The sequence attribute is used for the ordering of elements within a document. It is not intended to be used as an identifier.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is the name of one of Dimensions that are maintained by the Code Fortress. These can be user defined or provided by Infor. Known dimensions that will be available on all systems and should be mapped to by implementing systems include: 
Department
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String6BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="Status1Type">
<xs:sequence>
<xs:element name="Code" minOccurs="0" maxOccurs="1" type="Code2Type">
<xs:annotation>
<xs:documentation>
Code used to define the status of this document. See the code list associated to this code for the list of valid codes and their meanings.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
date and time this document becomes effective
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReasonCode" minOccurs="0" maxOccurs="1" type="ReasonCodeType">
<xs:annotation>
<xs:documentation>
Identifies the reason for an activity
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ArchiveIndicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
Indicator that determines if the BOD has been archived. The default value is false so there is no need to explicitly set this to false.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Code2Type">
<xs:simpleContent>
<xs:extension base="NormalizedString14BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  GenericStatus
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="BaseCurrencyType">
<xs:simpleContent>
<xs:extension base="NormalizedString12BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="ReportCurrencyType">
<xs:simpleContent>
<xs:extension base="NormalizedString12BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="SecondaryCurrencyType">
<xs:simpleContent>
<xs:extension base="NormalizedString12BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="FinancialCalendarReferenceType">
<xs:sequence>
<xs:element name="DocumentID" minOccurs="0" maxOccurs="1" type="DocumentIDType">
<xs:annotation>
<xs:documentation>
Is the primary document id for the document associated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="DocumentIDType">
<xs:sequence>
<xs:element name="ID" minOccurs="1" maxOccurs="1" type="ID1Type">
<xs:annotation>
<xs:documentation>
The ID of a Financial Calendar as defined by the FinancialCalendar noun.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RevisionID" minOccurs="0" maxOccurs="1" type="NormalizedString16BaseType">
<xs:annotation>
<xs:documentation>
Identifies the engineering change revision that this entity addresses.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NormalizedStringBaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "22"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="StringBaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IntegerBaseType">
<xs:restriction base="xs:integer">
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AnyURIBaseType">
<xs:restriction base="xs:anyURI">
<xs:maxLength value = "255"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String1BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UnionType">
<xs:union memberTypes="xs:date xs:time xs:dateTime "/>
</xs:simpleType>
<xs:simpleType name="NormalizedString1BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String2BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "22"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="LanguageBaseType">
<xs:restriction base="xs:language">
<xs:maxLength value = "17"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String3BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String4BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "10240"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString2BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString3BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String5BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString4BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString5BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
<xs:enumeration value = "Open"/>
<xs:enumeration value = "Deleted"/>
<xs:enumeration value = "Pending"/>
<xs:enumeration value = "Closed"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String6BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BooleanBaseType">
<xs:restriction base="xs:boolean">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String7BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "24"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Language1BaseType">
<xs:restriction base="xs:language">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String8BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "120"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Language2BaseType">
<xs:restriction base="xs:language">
<xs:maxLength value = "17"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString6BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String9BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "64"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString7BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
<xs:enumeration value = "AED"/>
<xs:enumeration value = "AFN"/>
<xs:enumeration value = "ALL"/>
<xs:enumeration value = "AMD"/>
<xs:enumeration value = "ANG"/>
<xs:enumeration value = "AOA"/>
<xs:enumeration value = "ARS"/>
<xs:enumeration value = "AUD"/>
<xs:enumeration value = "AWG"/>
<xs:enumeration value = "AZN"/>
<xs:enumeration value = "BAM"/>
<xs:enumeration value = "BBD"/>
<xs:enumeration value = "BDT"/>
<xs:enumeration value = "BGN"/>
<xs:enumeration value = "BHD"/>
<xs:enumeration value = "BIF"/>
<xs:enumeration value = "BMD"/>
<xs:enumeration value = "BND"/>
<xs:enumeration value = "BOB"/>
<xs:enumeration value = "BRL"/>
<xs:enumeration value = "BSD"/>
<xs:enumeration value = "BTN"/>
<xs:enumeration value = "BWP"/>
<xs:enumeration value = "BYR"/>
<xs:enumeration value = "BZD"/>
<xs:enumeration value = "CAD"/>
<xs:enumeration value = "CDF"/>
<xs:enumeration value = "CHF"/>
<xs:enumeration value = "CLP"/>
<xs:enumeration value = "CNY"/>
<xs:enumeration value = "COP"/>
<xs:enumeration value = "CRC"/>
<xs:enumeration value = "CUC"/>
<xs:enumeration value = "CUP"/>
<xs:enumeration value = "CVE"/>
<xs:enumeration value = "CZK"/>
<xs:enumeration value = "DJF"/>
<xs:enumeration value = "DKK"/>
<xs:enumeration value = "DOP"/>
<xs:enumeration value = "DZD"/>
<xs:enumeration value = "EGP"/>
<xs:enumeration value = "ERN"/>
<xs:enumeration value = "ETB"/>
<xs:enumeration value = "EUR"/>
<xs:enumeration value = "FJD"/>
<xs:enumeration value = "FKP"/>
<xs:enumeration value = "GBP"/>
<xs:enumeration value = "GEL"/>
<xs:enumeration value = "GGP"/>
<xs:enumeration value = "GHS"/>
<xs:enumeration value = "GIP"/>
<xs:enumeration value = "GMD"/>
<xs:enumeration value = "GNF"/>
<xs:enumeration value = "GTQ"/>
<xs:enumeration value = "GYD"/>
<xs:enumeration value = "HKD"/>
<xs:enumeration value = "HNL"/>
<xs:enumeration value = "HRK"/>
<xs:enumeration value = "HTG"/>
<xs:enumeration value = "HUF"/>
<xs:enumeration value = "IDR"/>
<xs:enumeration value = "ILS"/>
<xs:enumeration value = "IMP"/>
<xs:enumeration value = "INR"/>
<xs:enumeration value = "IQD"/>
<xs:enumeration value = "IRR"/>
<xs:enumeration value = "ISK"/>
<xs:enumeration value = "JEP"/>
<xs:enumeration value = "JMD"/>
<xs:enumeration value = "JOD"/>
<xs:enumeration value = "JPY"/>
<xs:enumeration value = "KES"/>
<xs:enumeration value = "KGS"/>
<xs:enumeration value = "KHR"/>
<xs:enumeration value = "KMF"/>
<xs:enumeration value = "KPW"/>
<xs:enumeration value = "KRW"/>
<xs:enumeration value = "KWD"/>
<xs:enumeration value = "KYD"/>
<xs:enumeration value = "KZT"/>
<xs:enumeration value = "LAK"/>
<xs:enumeration value = "LBP"/>
<xs:enumeration value = "LKR"/>
<xs:enumeration value = "LRD"/>
<xs:enumeration value = "LSL"/>
<xs:enumeration value = "LTL"/>
<xs:enumeration value = "LVL"/>
<xs:enumeration value = "LYD"/>
<xs:enumeration value = "MAD"/>
<xs:enumeration value = "MDL"/>
<xs:enumeration value = "MGA"/>
<xs:enumeration value = "MKD"/>
<xs:enumeration value = "MMK"/>
<xs:enumeration value = "MNT"/>
<xs:enumeration value = "MOP"/>
<xs:enumeration value = "MRO"/>
<xs:enumeration value = "MUR"/>
<xs:enumeration value = "MVR"/>
<xs:enumeration value = "MWK"/>
<xs:enumeration value = "MXN"/>
<xs:enumeration value = "MYR"/>
<xs:enumeration value = "MZN"/>
<xs:enumeration value = "NAD"/>
<xs:enumeration value = "NGN"/>
<xs:enumeration value = "NIO"/>
<xs:enumeration value = "NOK"/>
<xs:enumeration value = "NPR"/>
<xs:enumeration value = "NZD"/>
<xs:enumeration value = "OMR"/>
<xs:enumeration value = "PAB"/>
<xs:enumeration value = "PEN"/>
<xs:enumeration value = "PGK"/>
<xs:enumeration value = "PHP"/>
<xs:enumeration value = "PKR"/>
<xs:enumeration value = "PLN"/>
<xs:enumeration value = "PYG"/>
<xs:enumeration value = "QAR"/>
<xs:enumeration value = "RON"/>
<xs:enumeration value = "RSD"/>
<xs:enumeration value = "RUB"/>
<xs:enumeration value = "RWF"/>
<xs:enumeration value = "SAR"/>
<xs:enumeration value = "SBD"/>
<xs:enumeration value = "SCR"/>
<xs:enumeration value = "SDG"/>
<xs:enumeration value = "SEK"/>
<xs:enumeration value = "SGD"/>
<xs:enumeration value = "SHP"/>
<xs:enumeration value = "SLL"/>
<xs:enumeration value = "SOS"/>
<xs:enumeration value = "SPL*"/>
<xs:enumeration value = "SRD"/>
<xs:enumeration value = "STD"/>
<xs:enumeration value = "SVC"/>
<xs:enumeration value = "SYP"/>
<xs:enumeration value = "SZL"/>
<xs:enumeration value = "THB"/>
<xs:enumeration value = "TJS"/>
<xs:enumeration value = "TMT"/>
<xs:enumeration value = "TND"/>
<xs:enumeration value = "TOP"/>
<xs:enumeration value = "TRY"/>
<xs:enumeration value = "TTD"/>
<xs:enumeration value = "TVD"/>
<xs:enumeration value = "TWD"/>
<xs:enumeration value = "TZS"/>
<xs:enumeration value = "UAH"/>
<xs:enumeration value = "UGX"/>
<xs:enumeration value = "USD"/>
<xs:enumeration value = "UYU"/>
<xs:enumeration value = "UZS"/>
<xs:enumeration value = "VEF"/>
<xs:enumeration value = "VND"/>
<xs:enumeration value = "VUV"/>
<xs:enumeration value = "WST"/>
<xs:enumeration value = "XAF"/>
<xs:enumeration value = "XCD"/>
<xs:enumeration value = "XDR"/>
<xs:enumeration value = "XOF"/>
<xs:enumeration value = "XPF"/>
<xs:enumeration value = "YER"/>
<xs:enumeration value = "ZAR"/>
<xs:enumeration value = "ZMK"/>
<xs:enumeration value = "ZWD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString8BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "256"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString9BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PositiveIntegerBaseType">
<xs:restriction base="xs:positiveInteger">
<xs:minInclusive value = "1"/>
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String10BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "25"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String11BaseType">
<xs:restriction base="xs:string">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString10BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
<xs:enumeration value = "AF"/>
<xs:enumeration value = "AX"/>
<xs:enumeration value = "AL"/>
<xs:enumeration value = "DZ"/>
<xs:enumeration value = "AS"/>
<xs:enumeration value = "AD"/>
<xs:enumeration value = "AO"/>
<xs:enumeration value = "AI"/>
<xs:enumeration value = "AQ"/>
<xs:enumeration value = "AG"/>
<xs:enumeration value = "AR"/>
<xs:enumeration value = "AM"/>
<xs:enumeration value = "AW"/>
<xs:enumeration value = "AU"/>
<xs:enumeration value = "AT"/>
<xs:enumeration value = "AZ"/>
<xs:enumeration value = "BS"/>
<xs:enumeration value = "BH"/>
<xs:enumeration value = "BD"/>
<xs:enumeration value = "BB"/>
<xs:enumeration value = "BY"/>
<xs:enumeration value = "BE"/>
<xs:enumeration value = "BZ"/>
<xs:enumeration value = "BJ"/>
<xs:enumeration value = "BM"/>
<xs:enumeration value = "BT"/>
<xs:enumeration value = "BO"/>
<xs:enumeration value = "BQ"/>
<xs:enumeration value = "BA"/>
<xs:enumeration value = "BW"/>
<xs:enumeration value = "BV"/>
<xs:enumeration value = "BR"/>
<xs:enumeration value = "IO"/>
<xs:enumeration value = "BN"/>
<xs:enumeration value = "BG"/>
<xs:enumeration value = "BF"/>
<xs:enumeration value = "BI"/>
<xs:enumeration value = "KH"/>
<xs:enumeration value = "CM"/>
<xs:enumeration value = "CA"/>
<xs:enumeration value = "CV"/>
<xs:enumeration value = "KY"/>
<xs:enumeration value = "CF"/>
<xs:enumeration value = "TD"/>
<xs:enumeration value = "CL"/>
<xs:enumeration value = "CN"/>
<xs:enumeration value = "CX"/>
<xs:enumeration value = "CC"/>
<xs:enumeration value = "CO"/>
<xs:enumeration value = "KM"/>
<xs:enumeration value = "CG"/>
<xs:enumeration value = "CD"/>
<xs:enumeration value = "CK"/>
<xs:enumeration value = "CR"/>
<xs:enumeration value = "CI"/>
<xs:enumeration value = "HR"/>
<xs:enumeration value = "CU"/>
<xs:enumeration value = "CW"/>
<xs:enumeration value = "CY"/>
<xs:enumeration value = "CZ"/>
<xs:enumeration value = "DK"/>
<xs:enumeration value = "DJ"/>
<xs:enumeration value = "DM"/>
<xs:enumeration value = "DO"/>
<xs:enumeration value = "EC"/>
<xs:enumeration value = "EG"/>
<xs:enumeration value = "SV"/>
<xs:enumeration value = "GQ"/>
<xs:enumeration value = "ER"/>
<xs:enumeration value = "EE"/>
<xs:enumeration value = "ET"/>
<xs:enumeration value = "FK"/>
<xs:enumeration value = "FO"/>
<xs:enumeration value = "FJ"/>
<xs:enumeration value = "FI"/>
<xs:enumeration value = "FR"/>
<xs:enumeration value = "GF"/>
<xs:enumeration value = "PF"/>
<xs:enumeration value = "TF"/>
<xs:enumeration value = "GA"/>
<xs:enumeration value = "GM"/>
<xs:enumeration value = "GE"/>
<xs:enumeration value = "DE"/>
<xs:enumeration value = "GH"/>
<xs:enumeration value = "GI"/>
<xs:enumeration value = "GR"/>
<xs:enumeration value = "GL"/>
<xs:enumeration value = "GD"/>
<xs:enumeration value = "GP"/>
<xs:enumeration value = "GU"/>
<xs:enumeration value = "GT"/>
<xs:enumeration value = "GG"/>
<xs:enumeration value = "GN"/>
<xs:enumeration value = "GW"/>
<xs:enumeration value = "GY"/>
<xs:enumeration value = "HT"/>
<xs:enumeration value = "HM"/>
<xs:enumeration value = "VA"/>
<xs:enumeration value = "HN"/>
<xs:enumeration value = "HK"/>
<xs:enumeration value = "HU"/>
<xs:enumeration value = "IS"/>
<xs:enumeration value = "IN"/>
<xs:enumeration value = "ID"/>
<xs:enumeration value = "IR"/>
<xs:enumeration value = "IQ"/>
<xs:enumeration value = "IE"/>
<xs:enumeration value = "IM"/>
<xs:enumeration value = "IL"/>
<xs:enumeration value = "IT"/>
<xs:enumeration value = "JM"/>
<xs:enumeration value = "JP"/>
<xs:enumeration value = "JE"/>
<xs:enumeration value = "JO"/>
<xs:enumeration value = "KZ"/>
<xs:enumeration value = "KE"/>
<xs:enumeration value = "KI"/>
<xs:enumeration value = "KP"/>
<xs:enumeration value = "KR"/>
<xs:enumeration value = "KW"/>
<xs:enumeration value = "KG"/>
<xs:enumeration value = "LA"/>
<xs:enumeration value = "LV"/>
<xs:enumeration value = "LB"/>
<xs:enumeration value = "LS"/>
<xs:enumeration value = "LR"/>
<xs:enumeration value = "LY"/>
<xs:enumeration value = "LI"/>
<xs:enumeration value = "LT"/>
<xs:enumeration value = "LU"/>
<xs:enumeration value = "MO"/>
<xs:enumeration value = "MK"/>
<xs:enumeration value = "MG"/>
<xs:enumeration value = "MW"/>
<xs:enumeration value = "MY"/>
<xs:enumeration value = "MV"/>
<xs:enumeration value = "ML"/>
<xs:enumeration value = "MT"/>
<xs:enumeration value = "MH"/>
<xs:enumeration value = "MQ"/>
<xs:enumeration value = "MR"/>
<xs:enumeration value = "MU"/>
<xs:enumeration value = "YT"/>
<xs:enumeration value = "MX"/>
<xs:enumeration value = "FM"/>
<xs:enumeration value = "MD"/>
<xs:enumeration value = "MC"/>
<xs:enumeration value = "MN"/>
<xs:enumeration value = "ME"/>
<xs:enumeration value = "MS"/>
<xs:enumeration value = "MA"/>
<xs:enumeration value = "MZ"/>
<xs:enumeration value = "MM"/>
<xs:enumeration value = "NA"/>
<xs:enumeration value = "NR"/>
<xs:enumeration value = "NP"/>
<xs:enumeration value = "NL"/>
<xs:enumeration value = "NC"/>
<xs:enumeration value = "NZ"/>
<xs:enumeration value = "NI"/>
<xs:enumeration value = "NE"/>
<xs:enumeration value = "NG"/>
<xs:enumeration value = "NU"/>
<xs:enumeration value = "NF"/>
<xs:enumeration value = "MP"/>
<xs:enumeration value = "NO"/>
<xs:enumeration value = "OM"/>
<xs:enumeration value = "PK"/>
<xs:enumeration value = "PW"/>
<xs:enumeration value = "PS"/>
<xs:enumeration value = "PA"/>
<xs:enumeration value = "PG"/>
<xs:enumeration value = "PY"/>
<xs:enumeration value = "PE"/>
<xs:enumeration value = "PH"/>
<xs:enumeration value = "PN"/>
<xs:enumeration value = "PL"/>
<xs:enumeration value = "PT"/>
<xs:enumeration value = "PR"/>
<xs:enumeration value = "QA"/>
<xs:enumeration value = "RE"/>
<xs:enumeration value = "RO"/>
<xs:enumeration value = "RU"/>
<xs:enumeration value = "RW"/>
<xs:enumeration value = "BL"/>
<xs:enumeration value = "SH"/>
<xs:enumeration value = "KN"/>
<xs:enumeration value = "LC"/>
<xs:enumeration value = "MF"/>
<xs:enumeration value = "PM"/>
<xs:enumeration value = "VC"/>
<xs:enumeration value = "WS"/>
<xs:enumeration value = "SM"/>
<xs:enumeration value = "ST"/>
<xs:enumeration value = "SA"/>
<xs:enumeration value = "SN"/>
<xs:enumeration value = "RS"/>
<xs:enumeration value = "SC"/>
<xs:enumeration value = "SL"/>
<xs:enumeration value = "SG"/>
<xs:enumeration value = "SX"/>
<xs:enumeration value = "SK"/>
<xs:enumeration value = "SI"/>
<xs:enumeration value = "SB"/>
<xs:enumeration value = "SO"/>
<xs:enumeration value = "ZA"/>
<xs:enumeration value = "GS"/>
<xs:enumeration value = "SS"/>
<xs:enumeration value = "ES"/>
<xs:enumeration value = "LK"/>
<xs:enumeration value = "SD"/>
<xs:enumeration value = "SR"/>
<xs:enumeration value = "SJ"/>
<xs:enumeration value = "SZ"/>
<xs:enumeration value = "SE"/>
<xs:enumeration value = "CH"/>
<xs:enumeration value = "SY"/>
<xs:enumeration value = "TW"/>
<xs:enumeration value = "TJ"/>
<xs:enumeration value = "TZ"/>
<xs:enumeration value = "TH"/>
<xs:enumeration value = "TL"/>
<xs:enumeration value = "TG"/>
<xs:enumeration value = "TK"/>
<xs:enumeration value = "TO"/>
<xs:enumeration value = "TT"/>
<xs:enumeration value = "TN"/>
<xs:enumeration value = "TR"/>
<xs:enumeration value = "TM"/>
<xs:enumeration value = "TC"/>
<xs:enumeration value = "TV"/>
<xs:enumeration value = "UG"/>
<xs:enumeration value = "UA"/>
<xs:enumeration value = "AE"/>
<xs:enumeration value = "GB"/>
<xs:enumeration value = "UM"/>
<xs:enumeration value = "US"/>
<xs:enumeration value = "UY"/>
<xs:enumeration value = "UZ"/>
<xs:enumeration value = "VU"/>
<xs:enumeration value = "VE"/>
<xs:enumeration value = "VN"/>
<xs:enumeration value = "VG"/>
<xs:enumeration value = "VI"/>
<xs:enumeration value = "WF"/>
<xs:enumeration value = "EH"/>
<xs:enumeration value = "YE"/>
<xs:enumeration value = "ZM"/>
<xs:enumeration value = "ZW"/>
<xs:enumeration value = "XK"/>
<xs:enumeration value = "XZ"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString11BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PositiveInteger1BaseType">
<xs:restriction base="xs:positiveInteger">
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString12BaseType">
<xs:restriction base="xs:normalizedString">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String12BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString13BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "1"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString14BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
<xs:enumeration value = "Open"/>
<xs:enumeration value = "Closed"/>
<xs:enumeration value = "Deleted"/>
<xs:enumeration value = "Pending"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString15BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString16BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="UserAreaType">
<xs:sequence>
<xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Property" type="InforUAPropertyType"/>
<xs:complexType name="InforUAPropertyType">
<xs:sequence>
<xs:element name="NameValue" minOccurs="0" maxOccurs="1" type="InforUANameValueType">
<xs:annotation>
<xs:documentation>
Is the tag and information of the new information to be passed.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="InforUADescriptionType">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="InforUANoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveTimePeriod" minOccurs="0" maxOccurs="1" type="InforUAEffectiveTimePeriodType">
<xs:annotation>
<xs:documentation>
Indicates the time period in which the associated component is effective.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="sequence" type="InforUAPositiveIntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The sequence attribute is used for the ordering of elements within a document. It is not intended to be used as an identifier.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity. Workflow Properties
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="InforUANameValueType">
<xs:simpleContent>
<xs:extension base="InforUAStringBaseType">
<xs:attribute name="name" type="InforUANormalizedStringBaseType" use="required">
<xs:annotation>
<xs:documentation>
This is the identifier for this Property within this document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies the data type of the value of this property.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="unitCode" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="unitCodeListVersionID" type="InforUANormalizedString2BaseType" use="optional">
</xs:attribute>
<xs:attribute name="currencyID" type="InforUANormalizedString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The code for the currency associated with an amount.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.  Dimension
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="nounName" type="InforUANormalizedString2BaseType" use="optional">
</xs:attribute>
<xs:attribute name="accountingEntity" type="InforUANormalizedString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="schemeName" type="InforUANormalizedString5BaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUADescriptionType">
<xs:simpleContent>
<xs:extension base="InforUAString1BaseType">
<xs:attribute name="languageID" type="InforUALanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUANoteType">
<xs:simpleContent>
<xs:extension base="InforUAString2BaseType">
<xs:attribute name="noteID" type="InforUANormalizedString6BaseType" use="optional">
<xs:annotation>
<xs:documentation>
An optional identifier, that when used can uniquely identify each instance of a note within a BOD. It is only unique within the context of the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="use" type="InforUANormalizedString7BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Indicates if the note should be published externally or if it is for internal use only. It may have the values &apos;&apos;Internal&apos;&apos; and &apos;&apos;External&apos;&apos;.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="author" type="InforUAString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Person who created the note
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="entryDateTime" type="InforUAUnionType" use="optional">
<xs:annotation>
<xs:documentation>
Entry date and time in GMT.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="status" type="InforUAString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Status of a note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="InforUANormalizedString8BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies where the note is used and is associated to an Infor defined code list, &apos;&apos;NoteType,&apos;&apos; that indicates the processes that might use the note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="InforUALanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUAEffectiveTimePeriodType">
<xs:sequence>
<xs:element name="StartDateTime" minOccurs="0" maxOccurs="1" type="InforUAUnionType">
<xs:annotation>
<xs:documentation>
The timestamp marking the beginning of a time period during which a related entity or status is effective or applicable.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="Duration" minOccurs="0" maxOccurs="1" type="InforUADurationBaseType">
<xs:annotation>
<xs:documentation>
Indicates the duration of time as represented by ISO 8601. Where the value space is a six dimensional space where the coordinates designate the Gregorian year, month, day, hour, minute, and second. The number of seconds can include decimal digits to arbitary pecision. This can be used in place of the EndDateTime, but not in conjunction with it.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EndDateTime" minOccurs="0" maxOccurs="1" type="InforUAUnionType">
<xs:annotation>
<xs:documentation>
Is the ending timestamp of the event. This can be used in place of the Duration, but not with it.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="InforUAStringBaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "4000"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedStringBaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString1BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString2BaseType">
<xs:restriction base="xs:normalizedString">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString3BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:enumeration value = "AED"/>
<xs:enumeration value = "AFN"/>
<xs:enumeration value = "ALL"/>
<xs:enumeration value = "AMD"/>
<xs:enumeration value = "ANG"/>
<xs:enumeration value = "AOA"/>
<xs:enumeration value = "ARS"/>
<xs:enumeration value = "AUD"/>
<xs:enumeration value = "AWG"/>
<xs:enumeration value = "AZN"/>
<xs:enumeration value = "BAM"/>
<xs:enumeration value = "BBD"/>
<xs:enumeration value = "BDT"/>
<xs:enumeration value = "BGN"/>
<xs:enumeration value = "BHD"/>
<xs:enumeration value = "BIF"/>
<xs:enumeration value = "BMD"/>
<xs:enumeration value = "BND"/>
<xs:enumeration value = "BOB"/>
<xs:enumeration value = "BRL"/>
<xs:enumeration value = "BSD"/>
<xs:enumeration value = "BTN"/>
<xs:enumeration value = "BWP"/>
<xs:enumeration value = "BYR"/>
<xs:enumeration value = "BZD"/>
<xs:enumeration value = "CAD"/>
<xs:enumeration value = "CDF"/>
<xs:enumeration value = "CHF"/>
<xs:enumeration value = "CLP"/>
<xs:enumeration value = "CNY"/>
<xs:enumeration value = "COP"/>
<xs:enumeration value = "CRC"/>
<xs:enumeration value = "CUC"/>
<xs:enumeration value = "CUP"/>
<xs:enumeration value = "CVE"/>
<xs:enumeration value = "CZK"/>
<xs:enumeration value = "DJF"/>
<xs:enumeration value = "DKK"/>
<xs:enumeration value = "DOP"/>
<xs:enumeration value = "DZD"/>
<xs:enumeration value = "EGP"/>
<xs:enumeration value = "ERN"/>
<xs:enumeration value = "ETB"/>
<xs:enumeration value = "EUR"/>
<xs:enumeration value = "FJD"/>
<xs:enumeration value = "FKP"/>
<xs:enumeration value = "GBP"/>
<xs:enumeration value = "GEL"/>
<xs:enumeration value = "GGP"/>
<xs:enumeration value = "GHS"/>
<xs:enumeration value = "GIP"/>
<xs:enumeration value = "GMD"/>
<xs:enumeration value = "GNF"/>
<xs:enumeration value = "GTQ"/>
<xs:enumeration value = "GYD"/>
<xs:enumeration value = "HKD"/>
<xs:enumeration value = "HNL"/>
<xs:enumeration value = "HRK"/>
<xs:enumeration value = "HTG"/>
<xs:enumeration value = "HUF"/>
<xs:enumeration value = "IDR"/>
<xs:enumeration value = "ILS"/>
<xs:enumeration value = "IMP"/>
<xs:enumeration value = "INR"/>
<xs:enumeration value = "IQD"/>
<xs:enumeration value = "IRR"/>
<xs:enumeration value = "ISK"/>
<xs:enumeration value = "JEP"/>
<xs:enumeration value = "JMD"/>
<xs:enumeration value = "JOD"/>
<xs:enumeration value = "JPY"/>
<xs:enumeration value = "KES"/>
<xs:enumeration value = "KGS"/>
<xs:enumeration value = "KHR"/>
<xs:enumeration value = "KMF"/>
<xs:enumeration value = "KPW"/>
<xs:enumeration value = "KRW"/>
<xs:enumeration value = "KWD"/>
<xs:enumeration value = "KYD"/>
<xs:enumeration value = "KZT"/>
<xs:enumeration value = "LAK"/>
<xs:enumeration value = "LBP"/>
<xs:enumeration value = "LKR"/>
<xs:enumeration value = "LRD"/>
<xs:enumeration value = "LSL"/>
<xs:enumeration value = "LTL"/>
<xs:enumeration value = "LVL"/>
<xs:enumeration value = "LYD"/>
<xs:enumeration value = "MAD"/>
<xs:enumeration value = "MDL"/>
<xs:enumeration value = "MGA"/>
<xs:enumeration value = "MKD"/>
<xs:enumeration value = "MMK"/>
<xs:enumeration value = "MNT"/>
<xs:enumeration value = "MOP"/>
<xs:enumeration value = "MRO"/>
<xs:enumeration value = "MUR"/>
<xs:enumeration value = "MVR"/>
<xs:enumeration value = "MWK"/>
<xs:enumeration value = "MXN"/>
<xs:enumeration value = "MYR"/>
<xs:enumeration value = "MZN"/>
<xs:enumeration value = "NAD"/>
<xs:enumeration value = "NGN"/>
<xs:enumeration value = "NIO"/>
<xs:enumeration value = "NOK"/>
<xs:enumeration value = "NPR"/>
<xs:enumeration value = "NZD"/>
<xs:enumeration value = "OMR"/>
<xs:enumeration value = "PAB"/>
<xs:enumeration value = "PEN"/>
<xs:enumeration value = "PGK"/>
<xs:enumeration value = "PHP"/>
<xs:enumeration value = "PKR"/>
<xs:enumeration value = "PLN"/>
<xs:enumeration value = "PYG"/>
<xs:enumeration value = "QAR"/>
<xs:enumeration value = "RON"/>
<xs:enumeration value = "RSD"/>
<xs:enumeration value = "RUB"/>
<xs:enumeration value = "RWF"/>
<xs:enumeration value = "SAR"/>
<xs:enumeration value = "SBD"/>
<xs:enumeration value = "SCR"/>
<xs:enumeration value = "SDG"/>
<xs:enumeration value = "SEK"/>
<xs:enumeration value = "SGD"/>
<xs:enumeration value = "SHP"/>
<xs:enumeration value = "SLL"/>
<xs:enumeration value = "SOS"/>
<xs:enumeration value = "SPL*"/>
<xs:enumeration value = "SRD"/>
<xs:enumeration value = "STD"/>
<xs:enumeration value = "SVC"/>
<xs:enumeration value = "SYP"/>
<xs:enumeration value = "SZL"/>
<xs:enumeration value = "THB"/>
<xs:enumeration value = "TJS"/>
<xs:enumeration value = "TMT"/>
<xs:enumeration value = "TND"/>
<xs:enumeration value = "TOP"/>
<xs:enumeration value = "TRY"/>
<xs:enumeration value = "TTD"/>
<xs:enumeration value = "TVD"/>
<xs:enumeration value = "TWD"/>
<xs:enumeration value = "TZS"/>
<xs:enumeration value = "UAH"/>
<xs:enumeration value = "UGX"/>
<xs:enumeration value = "USD"/>
<xs:enumeration value = "UYU"/>
<xs:enumeration value = "UZS"/>
<xs:enumeration value = "VEF"/>
<xs:enumeration value = "VND"/>
<xs:enumeration value = "VUV"/>
<xs:enumeration value = "WST"/>
<xs:enumeration value = "XAF"/>
<xs:enumeration value = "XCD"/>
<xs:enumeration value = "XDR"/>
<xs:enumeration value = "XOF"/>
<xs:enumeration value = "XPF"/>
<xs:enumeration value = "YER"/>
<xs:enumeration value = "ZAR"/>
<xs:enumeration value = "ZMK"/>
<xs:enumeration value = "ZWD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString4BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString5BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString1BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUALanguageBaseType">
<xs:restriction base="xs:language">
<xs:maxLength value = "17"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString2BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "10240"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString6BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString7BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString3BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAUnionType">
<xs:union memberTypes="xs:date xs:time xs:dateTime "/>
</xs:simpleType>
<xs:simpleType name="InforUAString4BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString8BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUADurationBaseType">
<xs:restriction base="xs:duration">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAPositiveIntegerBaseType">
<xs:restriction base="xs:positiveInteger">
<xs:minInclusive value = "1"/>
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
