schema/InforOAGIS/Nouns/Calendar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 

            ** OAGIS® Revision: 9.2  ** 
            ** Date: 11 May 2007 **
            ** Copyright 1997-2007, All Rights Reserved **

            This is an OAGIS® BOD XML Schema (XSD) Definition.

            License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

            For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.

            XML Schema

-->
 <!--
 © Copyright 2011 Infor Global Solutions Technology GmbH and/or its affiliates and subsidiaries. All rights reserved. The
word and design marks set forth herein are trademarks and/or registered trademarks of Infor Global Solutions
Technology GmbH and/or its affiliates and subsidiaries. All rights reserved. All other trademarks listed herein
are the property of their respective owners.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.infor.com/InforOAGIS/2"
targetNamespace="http://schema.infor.com/InforOAGIS/2" elementFormDefault="qualified" attributeFormDefault="unqualified" 
version="2.13.9"><xs:element name="Calendar" type="CalendarType"/>
<xs:complexType name="CalendarType">
<xs:sequence>
<xs:element name="DocumentID" minOccurs="0" maxOccurs="1" type="DocumentIDType">
<xs:annotation>
<xs:documentation>
Is the primary document id for the document associated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="AlternateDocumentID" minOccurs="0" maxOccurs="unbounded" type="AlternateDocumentIDType">
<xs:annotation>
<xs:documentation>
Is the alternate document id for the associated document.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DisplayID" minOccurs="0" maxOccurs="1" type="String2BaseType">
<xs:annotation>
<xs:documentation>
The ID for this object formatted as closely as possible to the way the customer would expect to see the ID. This element is used for display only and has no other purpose.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LastModificationDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
All dates and times will be provided in GMT.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LastModificationPerson" minOccurs="0" maxOccurs="1" type="LastModificationPersonType">
<xs:annotation>
<xs:documentation>
A reference tot he person that took the action that caused this BOD to be published.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The date and time when this document was created.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="DescriptionType">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="NoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentReference" minOccurs="0" maxOccurs="unbounded" type="DocumentReferenceType">
<xs:annotation>
<xs:documentation>
A generic reference that uses the &quot;&quot;type&quot;&quot; attribute which contains the noun name of the referenced object.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Attachment" minOccurs="0" maxOccurs="unbounded" type="AttachmentType">
<xs:annotation>
<xs:documentation>
The Attachment represents binary data files that may be included within a BOD. These files replace 	the paper specifications and drawings attached to a BOD definition to clearly communicate design requirements. This Data Type is optional. Attachment usage is further defined by its position.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Status" minOccurs="0" maxOccurs="1" type="StatusType">
<xs:annotation>
<xs:documentation>
Indicates the current state of the associated object.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CalendarLocation" minOccurs="0" maxOccurs="1" type="CalendarLocationType">
<xs:annotation>
<xs:documentation>
To specify the location of calendar
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CalendarEvent" minOccurs="0" maxOccurs="unbounded" type="CalendarEventType">
<xs:annotation>
<xs:documentation>
Identifies a calendar instance that&apos;s been reserved people or objects.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="UserArea" minOccurs="0" maxOccurs="1" type="UserAreaType">
<xs:annotation>
<xs:documentation>
Allows the user of
				OAGIS to extend the specification in order to provide additional information that is
				not captured in OAGIS.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="type" type="NormalizedString15BaseType" use="optional">
<xs:annotation>
<xs:documentation>
To specify the type of calendar;
When no value is specified, it implies that the calendar is a workshop calendar. Use the explicit type from the associated code list to specify company holidays
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="DocumentIDType">
<xs:sequence>
<xs:element name="ID" minOccurs="1" maxOccurs="1" type="IDType">
<xs:annotation>
<xs:documentation>
This is the purchase order number
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RevisionID" minOccurs="0" maxOccurs="1" type="NormalizedString1BaseType">
<xs:annotation>
<xs:documentation>
Identifies the engineering change revision that this entity addresses.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDType">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This can reference any other noun that is relevant to this transaction such as SalesOrder, ProductionOrder, or Transfer
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The ID of the accounting entity that is associated with this ID. Used with the global ID - no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="location" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
##Not supported for holiday schedules; can be used to specify workshop calendars
The ID of the location that is associated with this ID when applicable. . Used with the global ID- no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="variationID" type="IntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The sequence number that identifies the number of times that this BOD, for this object, has been published. Used with the global ID- no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The logical ID of the system that is this SOR for this noun instance.. Used with the global ID- no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="AlternateDocumentIDType">
<xs:sequence>
<xs:element name="ID" minOccurs="1" maxOccurs="1" type="ID1Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RevisionID" minOccurs="0" maxOccurs="1" type="NormalizedStringBaseType">
<xs:annotation>
<xs:documentation>
Identifies the engineering change revision that this entity addresses.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID1Type">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="location" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The location that is associated with the maintenance of this instance of the noun. This attribute must not be included on the ID of objects that are maintained at the tenant or accounting entity level.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="variationID" type="IntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The number of times this object has been published with these attributes for the accounting entity and location.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="LastModificationPersonType">
<xs:sequence>
<xs:element name="IDs" minOccurs="0" maxOccurs="1" type="IDsType">
<xs:annotation>
<xs:documentation>
A container that holds a list of IDs without RevisionID.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="1" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDsType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID2Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID2Type">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="NameType">
<xs:simpleContent>
<xs:extension base="StringBaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="DescriptionType">
<xs:simpleContent>
<xs:extension base="String3BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for langauge codes other than &apos;en-us&apos; when this field is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="NoteType">
<xs:simpleContent>
<xs:extension base="String4BaseType">
<xs:attribute name="noteID" type="NormalizedString2BaseType" use="optional">
<xs:annotation>
<xs:documentation>
An optional identifier, that when used can uniquely identify each instance of a note within a BOD. It is only unique within the context of the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="use" type="NormalizedString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Indicates if the note should be published externally or if it is for internal use only. It may have the values &apos;&apos;Internal&apos;&apos; and &apos;&apos;External&apos;&apos;.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="author" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
Person who created the note
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="entryDateTime" type="UnionType" use="optional">
<xs:annotation>
<xs:documentation>
Entry date and time in GMT.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="status" type="String5BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Status of a note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="NormalizedString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies where the note is used and is associated to an Infor defined code list, &apos;&apos;NoteType,&apos;&apos; that indicates the processes that might use the note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="DocumentReferenceType">
<xs:sequence>
<xs:element name="DocumentID" minOccurs="0" maxOccurs="1" type="DocumentID1Type">
<xs:annotation>
<xs:documentation>
Is the primary document id for the document associated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DisplayID" minOccurs="0" maxOccurs="1" type="String2BaseType">
<xs:annotation>
<xs:documentation>
The ID for this object formatted as closely as possible to the way the customer would expect to see the ID. This element is used for display only and has no other purpose.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LineNumber" minOccurs="0" maxOccurs="1" type="NormalizedString5BaseType">
<xs:annotation>
<xs:documentation>
Is the identifier of the given Line Component within the document
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Facility" minOccurs="0" maxOccurs="unbounded" type="FacilityType">
<xs:annotation>
<xs:documentation>
A Facility identifies a location within an entity. The facility may have sub-locators identified using a sequenced identification notation e.g. Warehouse A100 Sub-Location 11, Row R10 would be represented as an array of three Facility elements with values as A100, 11, R10, name attribute as Warehouse, Sub-Location and Row and sequence attribute as 1,2 and 3 respectively.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ScheduleLineNumber" minOccurs="0" maxOccurs="1" type="NormalizedString5BaseType">
<xs:annotation>
<xs:documentation>
Is the ScheduleLineNumber of a particular item of interest for the given DocumentReference. The Line Number is of the primary DocumentId of the sender indicated by the DocumentId under DocumentIds.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SubLineNumber" minOccurs="0" maxOccurs="1" type="SubLineNumberType">
<xs:annotation>
<xs:documentation>
Is the SublineNumber of a particular item of interest for the given DocumentReference. The Line Number is of the primary DocumentId of the sender indicated by the DocumentId under DocumentIds.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="type" type="TokenBaseType" use="required">
<xs:annotation>
<xs:documentation>
The type attribute is required on all DocumentReference elements and must be a valid noun name. The valid noun names are in the &quot;Noun Name&quot; code list for validation.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="DocumentID1Type">
<xs:sequence>
<xs:element name="ID" minOccurs="1" maxOccurs="1" type="ID3Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RevisionID" minOccurs="0" maxOccurs="1" type="NormalizedString1BaseType">
<xs:annotation>
<xs:documentation>
Identifies the engineering change revision that this entity addresses.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID3Type">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="location" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The location that is associated with the maintenance of this instance of the noun. This attribute must not be included on the ID of objects that are maintained at the tenant or accounting entity level.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="FacilityType">
<xs:sequence>
<xs:element name="IDs" minOccurs="0" maxOccurs="1" type="IDs1Type">
<xs:annotation>
<xs:documentation>
A container that holds a list of IDs without RevisionID.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDs1Type">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID4Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID4Type">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="SubLineNumberType">
<xs:simpleContent>
<xs:extension base="NormalizedString6BaseType">
<xs:attribute name="lid" type="AnyURI1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="AttachmentType">
<xs:sequence>
<xs:element name="URI" minOccurs="0" maxOccurs="1" type="AnyURIBaseType">
<xs:annotation>
<xs:documentation>
Uniform Resource Identifier. Identifies files and locations on the web.  This can also be used for email address under contact.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FileName" minOccurs="0" maxOccurs="1" type="String2BaseType">
<xs:annotation>
<xs:documentation>
Indicates the name of the File being referenced.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The date that document was created within the system of record.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description1Type">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FileType" minOccurs="0" maxOccurs="unbounded" type="FileTypeType">
<xs:annotation>
<xs:documentation>
Identifies the type of the file type of the attachment.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FileSizeQuantity" minOccurs="0" maxOccurs="1" type="FileSizeQuantityType">
<xs:annotation>
<xs:documentation>
Specifies how big the file is.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Title" minOccurs="0" maxOccurs="unbounded" type="TitleType">
<xs:annotation>
<xs:documentation>
Is the title of the person. For example Dr..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="inline" type="BooleanBaseType" use="optional">
<xs:annotation>
<xs:documentation>
When this attribute is true the attachment is stored in the EmbeddedSata element. When it is false an external reference is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="NormalizedStringBaseType" use="optional">
</xs:attribute>
</xs:complexType>
<xs:complexType name="Description1Type">
<xs:simpleContent>
<xs:extension base="String6BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="FileTypeType">
<xs:simpleContent>
<xs:extension base="NormalizedString2BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="FileSizeQuantityType">
<xs:simpleContent>
<xs:extension base="DecimalBaseType">
<xs:attribute name="unitCode" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="TitleType">
<xs:simpleContent>
<xs:extension base="String5BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="StatusType">
<xs:sequence>
<xs:element name="Code" minOccurs="0" maxOccurs="1" type="CodeType">
<xs:annotation>
<xs:documentation>
Code used to define the status of this document. See the code list associated to this code for the list of valid codes and their meanings.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
date and time this document becomes effective
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReasonCode" minOccurs="0" maxOccurs="1" type="ReasonCodeType">
<xs:annotation>
<xs:documentation>
Identifies the reason for an activity
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ArchiveIndicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
Indicator that determines if the BOD has been archived. The default value is false so there is no need to explicitly set this to false.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString7BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="ReasonCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String7BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="CalendarLocationType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID5Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="type" type="NormalizedString9BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Type of Location
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="ID5Type">
<xs:simpleContent>
<xs:extension base="NormalizedString8BaseType">
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="CalendarEventType">
<xs:sequence>
<xs:element name="Organizer" minOccurs="0" maxOccurs="1" type="OrganizerType">
<xs:annotation>
<xs:documentation>
This element is used to identify an organizer when the organizer is not a participantin the event
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Attendee" minOccurs="0" maxOccurs="unbounded" type="AttendeeType">
<xs:annotation>
<xs:documentation>
Indicates the type of the object in which assoicated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="EventTimePeriod" minOccurs="0" maxOccurs="1" type="EventTimePeriodType">
<xs:annotation>
<xs:documentation>
Contains start and end dates for the event.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EventDate" minOccurs="0" maxOccurs="1" type="DateBaseType">
<xs:annotation>
<xs:documentation>
Specify the date of the corresponding event
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="RecurrenceRule" minOccurs="0" maxOccurs="1" type="RecurrenceRuleType">
<xs:annotation>
<xs:documentation>
Identifies the rule or criteria that defines when the event will repeat.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EventLocation" minOccurs="0" maxOccurs="1" type="EventLocationType">
<xs:annotation>
<xs:documentation>
Identifies the location of the event.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description2Type">
<xs:annotation>
<xs:documentation>
Long description for the event
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Summary" minOccurs="0" maxOccurs="1" type="String9BaseType">
<xs:annotation>
<xs:documentation>
Long description for the event
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Priority" minOccurs="0" maxOccurs="1" type="PriorityType">
<xs:annotation>
<xs:documentation>
Normal values are Urgent, High, Normal, and Low
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Alarm" minOccurs="0" maxOccurs="1" type="AlarmType">
<xs:annotation>
<xs:documentation>
Contains the properties that define the Alarm for the event.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="UserArea" minOccurs="0" maxOccurs="1" type="UserAreaType">
<xs:annotation>
<xs:documentation>
Allows the user of
				OAGIS to extend the specification in order to provide additional information that is
				not captured in OAGIS.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="type" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute defined the purpose of the event.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="OrganizerType">
<xs:sequence>
<xs:element name="PersonReference" minOccurs="0" maxOccurs="1" type="PersonReferenceType">
<xs:annotation>
<xs:documentation>
Optional in case the organizer is not inside the organization
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="1" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="URI" minOccurs="0" maxOccurs="1" type="AnyURI2BaseType">
<xs:annotation>
<xs:documentation>
Organizer&apos;s email address
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EventRole" minOccurs="0" maxOccurs="1" type="NormalizedString10BaseType">
<xs:annotation>
<xs:documentation>
EventRole should be &apos;Organizer&apos;. This may become an enumeration at a later period. These are the people that are associated with the event.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ConfirmedIndicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
This is true if the reservation has been confirmed.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FreeBusy" minOccurs="0" maxOccurs="1" type="NormalizedString11BaseType">
<xs:annotation>
<xs:documentation>
Values should be limited to FREE, BUSY, BUSY-UNAVAILABLE, and BUSY-TENTATIVE
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonReferenceType">
<xs:sequence>
<xs:element name="IDs" minOccurs="0" maxOccurs="1" type="IDs2Type">
<xs:annotation>
<xs:documentation>
A container that holds a list of IDs without RevisionID.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="1" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDs2Type">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID6Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID6Type">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The ID of the accounting entity that is associated with this ID. Used with the global ID - no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="AttendeeType">
<xs:sequence>
<xs:element name="ConstrainedResourceReference" minOccurs="0" maxOccurs="1" type="ConstrainedResourceReferenceType">
<xs:annotation>
<xs:documentation>
Optional in case the Attendee is not inside the organization
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="1" type="NameType">
<xs:annotation>
<xs:documentation>
Only used when the attendee is a person
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description1Type">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EventRole" minOccurs="0" maxOccurs="1" type="NormalizedString10BaseType">
<xs:annotation>
<xs:documentation>
EventRole should be &apos;Mandatory&apos; or &apos;Optional&apos;. This may become an enumeration at a later period. These are the people that are associated with the event.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ConfirmedIndicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
Indicates that the attendee is confirmed for the event.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FreeBusy" minOccurs="0" maxOccurs="1" type="NormalizedString11BaseType">
<xs:annotation>
<xs:documentation>
Values should be limited to FREE, BUSY, BUSY-UNAVAILABLE, and BUSY-TENTATIVE
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConstrainedResourceReferenceType">
<xs:sequence>
<xs:element name="ResourceID" minOccurs="0" maxOccurs="1" type="ResourceIDType">
<xs:annotation>
<xs:documentation>
The ID assigned to an associated Resource.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ResourceTypeCode" minOccurs="0" maxOccurs="1" type="ResourceTypeCodeType">
<xs:annotation>
<xs:documentation>
Type of Resource ie welder, mechanic, machine operator, etc.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Quantity" minOccurs="0" maxOccurs="1" type="QuantityType">
<xs:annotation>
<xs:documentation>
The number of resource required of the specified resource type
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="BaseUOMQuantity" minOccurs="0" maxOccurs="1" type="BaseUOMQuantityType">
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="1" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResourceIDType">
<xs:sequence>
<xs:element name="ID" minOccurs="1" maxOccurs="1" type="ID4Type">
<xs:annotation>
<xs:documentation>
ConstrainedResource ID
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResourceTypeCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString12BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  Resource Codes
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="QuantityType">
<xs:simpleContent>
<xs:extension base="Decimal1BaseType">
<xs:attribute name="unitCode" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="BaseUOMQuantityType">
<xs:simpleContent>
<xs:extension base="Decimal1BaseType">
<xs:attribute name="unitCode" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="EventTimePeriodType">
<xs:sequence>
<xs:element name="StartDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The timestamp marking the beginning of a time period during which a related entity.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EndDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The timestamp marking the ending of a time period during which a related entity.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="RecurrenceRuleType">
<xs:sequence>
<xs:element name="FrequencyMeasureType" minOccurs="1" maxOccurs="1" type="FrequencyMeasureTypeType">
<xs:annotation>
<xs:documentation>
 &quot;Secondly&quot;, &quot;Minutely&quot;, &quot;Hourly&quot;, &quot;Daily&quot;, &quot;Weekly&quot;, &quot;Monthly&quot;,
				&quot;Yearly&quot; 
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Count" minOccurs="0" maxOccurs="1" type="PositiveIntegerBaseType">
<xs:annotation>
<xs:documentation>
defines the number of occurrences at which to range-bound the recurrence
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Interval" minOccurs="0" maxOccurs="1" type="NormalizedStringBaseType">
<xs:annotation>
<xs:documentation>
contains a positive integer representing how often the recurrence rule repeats. The default value is &apos;1&apos;, meaning every second for a SECONDLY rule, or every minute for a MINUTELY rule, every hour for an HOURLY rule, every day for a DAILY rule, every week for a WEEKLY rule, every month for a MONTHLY rule and every year for a YEARLY rule.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ByDay" minOccurs="0" maxOccurs="1" type="String8BaseType">
<xs:annotation>
<xs:documentation>
MO indicates Monday; TU indicates Tuesday; WE indicates Wednesday; TH indicates Thursday; FR indicates Friday; SA indicates Saturday; SU indicates Sunday
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="FrequencyMeasureTypeType">
<xs:simpleContent>
<xs:extension base="NormalizedString13BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String7BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="location" type="String7BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The location that is associated with the maintenance of this instance of the noun. This attribute must not be included on the ID of objects that are maintained at the tenant or accounting entity level.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="EventLocationType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID7Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description1Type">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="NoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Status" minOccurs="0" maxOccurs="1" type="StatusType">
<xs:annotation>
<xs:documentation>
Indicates the current state of the associated object.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID7Type">
<xs:simpleContent>
<xs:extension base="NormalizedString8BaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="location" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The location that is associated with the maintenance of this instance of the noun. This attribute must not be included on the ID of objects that are maintained at the tenant or accounting entity level.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="variationID" type="IntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The number of times this object has been published with these attributes for the accounting entity and location.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="Description2Type">
<xs:simpleContent>
<xs:extension base="String3BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="PriorityType">
<xs:simpleContent>
<xs:extension base="NormalizedString14BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  Priorities
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="AlarmType">
<xs:sequence>
<xs:element name="AlarmDateTime" minOccurs="1" maxOccurs="1" type="UnionType">
</xs:element>
<xs:element name="Count" minOccurs="0" maxOccurs="1" type="PositiveIntegerBaseType">
<xs:annotation>
<xs:documentation>
Number of times to repeat the alarm if not canceled
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SleepMinutes" minOccurs="0" maxOccurs="1" type="PositiveInteger1BaseType">
<xs:annotation>
<xs:documentation>
Number of minutes to sleep before next alarm
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Method" minOccurs="1" maxOccurs="unbounded" type="NormalizedString6BaseType">
<xs:annotation>
<xs:documentation>
The notification method - equated to valarm ACTION.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NormalizedStringBaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="StringBaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String1BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "22"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IntegerBaseType">
<xs:restriction base="xs:integer">
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AnyURIBaseType">
<xs:restriction base="xs:anyURI">
<xs:maxLength value = "255"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString1BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String2BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UnionType">
<xs:union memberTypes="xs:date xs:time xs:dateTime "/>
</xs:simpleType>
<xs:simpleType name="LanguageBaseType">
<xs:restriction base="xs:language">
<xs:maxLength value = "17"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String3BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String4BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "10240"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString2BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString3BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String5BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString4BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString5BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "22"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString6BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AnyURI1BaseType">
<xs:restriction base="xs:anyURI">
<xs:maxLength value = "255"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="TokenBaseType">
<xs:restriction base="xs:token">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
<xs:enumeration value = "AccountingBookDefinition"/>
<xs:enumeration value = "AccountingChart"/>
<xs:enumeration value = "AccountingJournal"/>
<xs:enumeration value = "AdvanceShipNotice"/>
<xs:enumeration value = "Alert"/>
<xs:enumeration value = "AssetMaster"/>
<xs:enumeration value = "AssetMeterReading"/>
<xs:enumeration value = "BillOfResources"/>
<xs:enumeration value = "BillToPartyMaster"/>
<xs:enumeration value = "BOD"/>
<xs:enumeration value = "BusinessPlan"/>
<xs:enumeration value = "Calendar"/>
<xs:enumeration value = "CarrierParty"/>
<xs:enumeration value = "CarrierRoute"/>
<xs:enumeration value = "ChartOfAccounts"/>
<xs:enumeration value = "CodeDefinition"/>
<xs:enumeration value = "ConstrainedResource"/>
<xs:enumeration value = "ContactMaster"/>
<xs:enumeration value = "Contract"/>
<xs:enumeration value = "CurrencyExchangeRateMaster"/>
<xs:enumeration value = "CurrencyRateType"/>
<xs:enumeration value = "CustomerPartyMaster"/>
<xs:enumeration value = "CustomerPurchaseOrder"/>
<xs:enumeration value = "CustomerReturn"/>
<xs:enumeration value = "CustomerRFQ"/>
<xs:enumeration value = "EmployeeWorkSchedule"/>
<xs:enumeration value = "EmployeeWorkTime"/>
<xs:enumeration value = "ExpenseReport"/>
<xs:enumeration value = "FinancialCalendar"/>
<xs:enumeration value = "FinancialPartyMaster"/>
<xs:enumeration value = "HandlingGroup"/>
<xs:enumeration value = "InspectDelivery"/>
<xs:enumeration value = "InventoryAdjustment"/>
<xs:enumeration value = "InventoryConsumption"/>
<xs:enumeration value = "InventoryCount"/>
<xs:enumeration value = "InventoryHold"/>
<xs:enumeration value = "Invoice"/>
<xs:enumeration value = "ItemMaster"/>
<xs:enumeration value = "Location"/>
<xs:enumeration value = "MaintenanceOrder"/>
<xs:enumeration value = "Opportunity"/>
<xs:enumeration value = "PayableTransaction"/>
<xs:enumeration value = "PayFromPartyMaster"/>
<xs:enumeration value = "Person"/>
<xs:enumeration value = "Personnel"/>
<xs:enumeration value = "PlanningSchedule"/>
<xs:enumeration value = "ProductionOrder"/>
<xs:enumeration value = "ProductionReceiver"/>
<xs:enumeration value = "ProjectBalance"/>
<xs:enumeration value = "ProjectBid"/>
<xs:enumeration value = "ProjectBudget"/>
<xs:enumeration value = "ProjectCosts"/>
<xs:enumeration value = "ProjectEstimate"/>
<xs:enumeration value = "ProjectExtension"/>
<xs:enumeration value = "ProjectMaster"/>
<xs:enumeration value = "ProjectPeriodBalance"/>
<xs:enumeration value = "ProjectRevenue"/>
<xs:enumeration value = "PurchaseOrder"/>
<xs:enumeration value = "Quote"/>
<xs:enumeration value = "ReceivableTransaction"/>
<xs:enumeration value = "ReceiveDelivery"/>
<xs:enumeration value = "RemittanceAdvice"/>
<xs:enumeration value = "RemitToPartyMaster"/>
<xs:enumeration value = "Requisition"/>
<xs:enumeration value = "RFQ"/>
<xs:enumeration value = "SalesOrder"/>
<xs:enumeration value = "SequenceSchedule"/>
<xs:enumeration value = "ServiceConsumption"/>
<xs:enumeration value = "ShipFromPartyMaster"/>
<xs:enumeration value = "Shipment"/>
<xs:enumeration value = "ShipmentSchedule"/>
<xs:enumeration value = "ShipToPartyMaster"/>
<xs:enumeration value = "SourceSystemGLMovement"/>
<xs:enumeration value = "SourceSystemJournalEntry"/>
<xs:enumeration value = "SupplierInvoice"/>
<xs:enumeration value = "SupplierBalance"/>
<xs:enumeration value = "SupplierPartyMaster"/>
<xs:enumeration value = "SupplierQuote"/>
<xs:enumeration value = "TextMessage"/>
<xs:enumeration value = "TradingPartner"/>
<xs:enumeration value = "Transfer"/>
<xs:enumeration value = "TransportationRequisition"/>
<xs:enumeration value = "TransportationStatus"/>
<xs:enumeration value = "UOMGroup"/>
<xs:enumeration value = "Workflow"/>
<xs:enumeration value = "AssetFinancialLedger"/>
<xs:enumeration value = "EDITransport"/>
<xs:enumeration value = "CashReceipt"/>
<xs:enumeration value = "ConfiguredAssetMaster"/>
<xs:enumeration value = "ServiceContract"/>
<xs:enumeration value = "CustomerCall"/>
<xs:enumeration value = "ServiceOrder"/>
<xs:enumeration value = "PlannedPurchaseOrder"/>
<xs:enumeration value = "PlannedProductionOrder"/>
<xs:enumeration value = "PlannedTransfer"/>
<xs:enumeration value = "AssetTransaction"/>
<xs:enumeration value = "SupplierPlanningSchedule"/>
<xs:enumeration value = "SupplierShipmentSchedule"/>
<xs:enumeration value = "AssetTrackingData"/>
<xs:enumeration value = "BillOfMaterials"/>
<xs:enumeration value = "LaborCostMaster"/>
<xs:enumeration value = "SundryCostMaster"/>
<xs:enumeration value = "ProjectProgress"/>
<xs:enumeration value = "PulseAlert"/>
<xs:enumeration value = "PulseNotification"/>
<xs:enumeration value = "PulseTask"/>
<xs:enumeration value = "ManufacturerPartyMaster"/>
<xs:enumeration value = "ManufacturingPart"/>
<xs:enumeration value = "EquipmentAlert"/>
<xs:enumeration value = "SupplierRMA"/>
<xs:enumeration value = "TransportationRoute"/>
<xs:enumeration value = "CorrectiveActionPlan"/>
<xs:enumeration value = "ProjectContract"/>
<xs:enumeration value = "ProjectContractDeliverable"/>
<xs:enumeration value = "ProjectContractInstallment"/>
<xs:enumeration value = "BillFromPartyMaster"/>
<xs:enumeration value = "DefectiveMaterialNotice"/>
<xs:enumeration value = "SupportProduct"/>
<xs:enumeration value = "SupportEnvironment"/>
<xs:enumeration value = "WorkShiftMaster"/>
<xs:enumeration value = "SecurityPermissionMaster"/>
<xs:enumeration value = "SecurityRoleMaster"/>
<xs:enumeration value = "LocationResource"/>
<xs:enumeration value = "PackageLabel"/>
<xs:enumeration value = "CustomerRemittanceAdvice"/>
<xs:enumeration value = "SecurityUserMaster"/>
<xs:enumeration value = "PayableTracker"/>
<xs:enumeration value = "ReceivableTracker"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String6BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DecimalBaseType">
<xs:restriction base="xs:decimal">
<xs:totalDigits value = "25"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BooleanBaseType">
<xs:restriction base="xs:boolean">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString7BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
<xs:enumeration value = "Open"/>
<xs:enumeration value = "Deleted"/>
<xs:enumeration value = "Pending"/>
<xs:enumeration value = "Closed"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String7BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString8BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "1"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString9BaseType">
<xs:restriction base="xs:normalizedString">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AnyURI2BaseType">
<xs:restriction base="xs:anyURI">
<xs:maxLength value = "320"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString10BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "10"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString11BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "256"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString12BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Decimal1BaseType">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value = "8"/>
<xs:totalDigits value = "25"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DateBaseType">
<xs:restriction base="xs:date">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString13BaseType">
<xs:restriction base="xs:normalizedString">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PositiveIntegerBaseType">
<xs:restriction base="xs:positiveInteger">
<xs:totalDigits value = "5"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String8BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "2"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String9BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "80"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString14BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "25"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PositiveInteger1BaseType">
<xs:restriction base="xs:positiveInteger">
</xs:restriction>
</xs:simpleType>
<xs:complexType name="UserAreaType">
<xs:sequence>
<xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NormalizedString15BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:enumeration value = "WorkshopCalendar"/>
<xs:enumeration value = "CompanyHoliday"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="Property" type="InforUAPropertyType"/>
<xs:complexType name="InforUAPropertyType">
<xs:sequence>
<xs:element name="NameValue" minOccurs="0" maxOccurs="1" type="InforUANameValueType">
<xs:annotation>
<xs:documentation>
Is the tag and information of the new information to be passed.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="InforUADescriptionType">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="InforUANoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveTimePeriod" minOccurs="0" maxOccurs="1" type="InforUAEffectiveTimePeriodType">
<xs:annotation>
<xs:documentation>
Indicates the time period in which the associated component is effective.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="sequence" type="InforUAPositiveIntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The sequence attribute is used for the ordering of elements within a document. It is not intended to be used as an identifier.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity. Workflow Properties
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="InforUANameValueType">
<xs:simpleContent>
<xs:extension base="InforUAStringBaseType">
<xs:attribute name="name" type="InforUANormalizedStringBaseType" use="required">
<xs:annotation>
<xs:documentation>
This is the identifier for this Property within this document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies the data type of the value of this property.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="unitCode" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="unitCodeListVersionID" type="InforUANormalizedString2BaseType" use="optional">
</xs:attribute>
<xs:attribute name="currencyID" type="InforUANormalizedString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The code for the currency associated with an amount.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.  Dimension
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="nounName" type="InforUANormalizedString2BaseType" use="optional">
</xs:attribute>
<xs:attribute name="accountingEntity" type="InforUANormalizedString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="schemeName" type="InforUANormalizedString5BaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUADescriptionType">
<xs:simpleContent>
<xs:extension base="InforUAString1BaseType">
<xs:attribute name="languageID" type="InforUALanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUANoteType">
<xs:simpleContent>
<xs:extension base="InforUAString2BaseType">
<xs:attribute name="noteID" type="InforUANormalizedString6BaseType" use="optional">
<xs:annotation>
<xs:documentation>
An optional identifier, that when used can uniquely identify each instance of a note within a BOD. It is only unique within the context of the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="use" type="InforUANormalizedString7BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Indicates if the note should be published externally or if it is for internal use only. It may have the values &apos;&apos;Internal&apos;&apos; and &apos;&apos;External&apos;&apos;.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="author" type="InforUAString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Person who created the note
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="entryDateTime" type="InforUAUnionType" use="optional">
<xs:annotation>
<xs:documentation>
Entry date and time in GMT.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="status" type="InforUAString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Status of a note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="InforUANormalizedString8BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies where the note is used and is associated to an Infor defined code list, &apos;&apos;NoteType,&apos;&apos; that indicates the processes that might use the note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="InforUALanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUAEffectiveTimePeriodType">
<xs:sequence>
<xs:element name="StartDateTime" minOccurs="0" maxOccurs="1" type="InforUAUnionType">
<xs:annotation>
<xs:documentation>
The timestamp marking the beginning of a time period during which a related entity or status is effective or applicable.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="Duration" minOccurs="0" maxOccurs="1" type="InforUADurationBaseType">
<xs:annotation>
<xs:documentation>
Indicates the duration of time as represented by ISO 8601. Where the value space is a six dimensional space where the coordinates designate the Gregorian year, month, day, hour, minute, and second. The number of seconds can include decimal digits to arbitary pecision. This can be used in place of the EndDateTime, but not in conjunction with it.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EndDateTime" minOccurs="0" maxOccurs="1" type="InforUAUnionType">
<xs:annotation>
<xs:documentation>
Is the ending timestamp of the event. This can be used in place of the Duration, but not with it.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="InforUAStringBaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "4000"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedStringBaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString1BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString2BaseType">
<xs:restriction base="xs:normalizedString">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString3BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:enumeration value = "AED"/>
<xs:enumeration value = "AFN"/>
<xs:enumeration value = "ALL"/>
<xs:enumeration value = "AMD"/>
<xs:enumeration value = "ANG"/>
<xs:enumeration value = "AOA"/>
<xs:enumeration value = "ARS"/>
<xs:enumeration value = "AUD"/>
<xs:enumeration value = "AWG"/>
<xs:enumeration value = "AZN"/>
<xs:enumeration value = "BAM"/>
<xs:enumeration value = "BBD"/>
<xs:enumeration value = "BDT"/>
<xs:enumeration value = "BGN"/>
<xs:enumeration value = "BHD"/>
<xs:enumeration value = "BIF"/>
<xs:enumeration value = "BMD"/>
<xs:enumeration value = "BND"/>
<xs:enumeration value = "BOB"/>
<xs:enumeration value = "BRL"/>
<xs:enumeration value = "BSD"/>
<xs:enumeration value = "BTN"/>
<xs:enumeration value = "BWP"/>
<xs:enumeration value = "BYR"/>
<xs:enumeration value = "BZD"/>
<xs:enumeration value = "CAD"/>
<xs:enumeration value = "CDF"/>
<xs:enumeration value = "CHF"/>
<xs:enumeration value = "CLP"/>
<xs:enumeration value = "CNY"/>
<xs:enumeration value = "COP"/>
<xs:enumeration value = "CRC"/>
<xs:enumeration value = "CUC"/>
<xs:enumeration value = "CUP"/>
<xs:enumeration value = "CVE"/>
<xs:enumeration value = "CZK"/>
<xs:enumeration value = "DJF"/>
<xs:enumeration value = "DKK"/>
<xs:enumeration value = "DOP"/>
<xs:enumeration value = "DZD"/>
<xs:enumeration value = "EGP"/>
<xs:enumeration value = "ERN"/>
<xs:enumeration value = "ETB"/>
<xs:enumeration value = "EUR"/>
<xs:enumeration value = "FJD"/>
<xs:enumeration value = "FKP"/>
<xs:enumeration value = "GBP"/>
<xs:enumeration value = "GEL"/>
<xs:enumeration value = "GGP"/>
<xs:enumeration value = "GHS"/>
<xs:enumeration value = "GIP"/>
<xs:enumeration value = "GMD"/>
<xs:enumeration value = "GNF"/>
<xs:enumeration value = "GTQ"/>
<xs:enumeration value = "GYD"/>
<xs:enumeration value = "HKD"/>
<xs:enumeration value = "HNL"/>
<xs:enumeration value = "HRK"/>
<xs:enumeration value = "HTG"/>
<xs:enumeration value = "HUF"/>
<xs:enumeration value = "IDR"/>
<xs:enumeration value = "ILS"/>
<xs:enumeration value = "IMP"/>
<xs:enumeration value = "INR"/>
<xs:enumeration value = "IQD"/>
<xs:enumeration value = "IRR"/>
<xs:enumeration value = "ISK"/>
<xs:enumeration value = "JEP"/>
<xs:enumeration value = "JMD"/>
<xs:enumeration value = "JOD"/>
<xs:enumeration value = "JPY"/>
<xs:enumeration value = "KES"/>
<xs:enumeration value = "KGS"/>
<xs:enumeration value = "KHR"/>
<xs:enumeration value = "KMF"/>
<xs:enumeration value = "KPW"/>
<xs:enumeration value = "KRW"/>
<xs:enumeration value = "KWD"/>
<xs:enumeration value = "KYD"/>
<xs:enumeration value = "KZT"/>
<xs:enumeration value = "LAK"/>
<xs:enumeration value = "LBP"/>
<xs:enumeration value = "LKR"/>
<xs:enumeration value = "LRD"/>
<xs:enumeration value = "LSL"/>
<xs:enumeration value = "LTL"/>
<xs:enumeration value = "LVL"/>
<xs:enumeration value = "LYD"/>
<xs:enumeration value = "MAD"/>
<xs:enumeration value = "MDL"/>
<xs:enumeration value = "MGA"/>
<xs:enumeration value = "MKD"/>
<xs:enumeration value = "MMK"/>
<xs:enumeration value = "MNT"/>
<xs:enumeration value = "MOP"/>
<xs:enumeration value = "MRO"/>
<xs:enumeration value = "MUR"/>
<xs:enumeration value = "MVR"/>
<xs:enumeration value = "MWK"/>
<xs:enumeration value = "MXN"/>
<xs:enumeration value = "MYR"/>
<xs:enumeration value = "MZN"/>
<xs:enumeration value = "NAD"/>
<xs:enumeration value = "NGN"/>
<xs:enumeration value = "NIO"/>
<xs:enumeration value = "NOK"/>
<xs:enumeration value = "NPR"/>
<xs:enumeration value = "NZD"/>
<xs:enumeration value = "OMR"/>
<xs:enumeration value = "PAB"/>
<xs:enumeration value = "PEN"/>
<xs:enumeration value = "PGK"/>
<xs:enumeration value = "PHP"/>
<xs:enumeration value = "PKR"/>
<xs:enumeration value = "PLN"/>
<xs:enumeration value = "PYG"/>
<xs:enumeration value = "QAR"/>
<xs:enumeration value = "RON"/>
<xs:enumeration value = "RSD"/>
<xs:enumeration value = "RUB"/>
<xs:enumeration value = "RWF"/>
<xs:enumeration value = "SAR"/>
<xs:enumeration value = "SBD"/>
<xs:enumeration value = "SCR"/>
<xs:enumeration value = "SDG"/>
<xs:enumeration value = "SEK"/>
<xs:enumeration value = "SGD"/>
<xs:enumeration value = "SHP"/>
<xs:enumeration value = "SLL"/>
<xs:enumeration value = "SOS"/>
<xs:enumeration value = "SPL*"/>
<xs:enumeration value = "SRD"/>
<xs:enumeration value = "STD"/>
<xs:enumeration value = "SVC"/>
<xs:enumeration value = "SYP"/>
<xs:enumeration value = "SZL"/>
<xs:enumeration value = "THB"/>
<xs:enumeration value = "TJS"/>
<xs:enumeration value = "TMT"/>
<xs:enumeration value = "TND"/>
<xs:enumeration value = "TOP"/>
<xs:enumeration value = "TRY"/>
<xs:enumeration value = "TTD"/>
<xs:enumeration value = "TVD"/>
<xs:enumeration value = "TWD"/>
<xs:enumeration value = "TZS"/>
<xs:enumeration value = "UAH"/>
<xs:enumeration value = "UGX"/>
<xs:enumeration value = "USD"/>
<xs:enumeration value = "UYU"/>
<xs:enumeration value = "UZS"/>
<xs:enumeration value = "VEF"/>
<xs:enumeration value = "VND"/>
<xs:enumeration value = "VUV"/>
<xs:enumeration value = "WST"/>
<xs:enumeration value = "XAF"/>
<xs:enumeration value = "XCD"/>
<xs:enumeration value = "XDR"/>
<xs:enumeration value = "XOF"/>
<xs:enumeration value = "XPF"/>
<xs:enumeration value = "YER"/>
<xs:enumeration value = "ZAR"/>
<xs:enumeration value = "ZMK"/>
<xs:enumeration value = "ZWD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString4BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString5BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString1BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUALanguageBaseType">
<xs:restriction base="xs:language">
<xs:maxLength value = "17"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString2BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "10240"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString6BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString7BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString3BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAUnionType">
<xs:union memberTypes="xs:date xs:time xs:dateTime "/>
</xs:simpleType>
<xs:simpleType name="InforUAString4BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString8BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUADurationBaseType">
<xs:restriction base="xs:duration">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAPositiveIntegerBaseType">
<xs:restriction base="xs:positiveInteger">
<xs:minInclusive value = "1"/>
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
