schema/InforOAGIS/Nouns/InventoryHold.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 

            ** OAGIS® Revision: 9.2  ** 
            ** Date: 11 May 2007 **
            ** Copyright 1997-2007, All Rights Reserved **

            This is an OAGIS® BOD XML Schema (XSD) Definition.

            License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

            For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.

            XML Schema

-->
 <!--
 © Copyright 2011 Infor Global Solutions Technology GmbH and/or its affiliates and subsidiaries. All rights reserved. The
word and design marks set forth herein are trademarks and/or registered trademarks of Infor Global Solutions
Technology GmbH and/or its affiliates and subsidiaries. All rights reserved. All other trademarks listed herein
are the property of their respective owners.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.infor.com/InforOAGIS/2"
targetNamespace="http://schema.infor.com/InforOAGIS/2" elementFormDefault="qualified" attributeFormDefault="unqualified" 
version="2.13.6"><xs:element name="InventoryHold" type="InventoryHoldType"/>
<xs:complexType name="InventoryHoldType">
<xs:sequence>
<xs:element name="IDs" minOccurs="0" maxOccurs="1" type="IDsType">
<xs:annotation>
<xs:documentation>
A container that holds a list of IDs without RevisionID.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DisplayID" minOccurs="0" maxOccurs="1" type="String2BaseType">
<xs:annotation>
<xs:documentation>
The ID for this object formatted as closely as possible to the way the customer would expect to see the ID. This element is used for display only and has no other purpose.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LastModificationDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The datetime on which the object was last modified.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LastModificationPerson" minOccurs="0" maxOccurs="1" type="LastModificationPersonType">
<xs:annotation>
<xs:documentation>
A reference tot he person that took the action that caused this BOD to be published.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The date and time when this document was created.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="DescriptionType">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="NoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ItemInstance" minOccurs="0" maxOccurs="1" type="ItemInstanceType">
<xs:annotation>
<xs:documentation>
Defines the items that is associated with the inventory hold.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="WarehouseLocation" minOccurs="0" maxOccurs="1" type="WarehouseLocationType">
<xs:annotation>
<xs:documentation>
Is the storage facility for inventory.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="TransactionDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The datetime of occurence of the transaction
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="HoldCodes" minOccurs="0" maxOccurs="1" type="HoldCodes1Type">
<xs:annotation>
<xs:documentation>
Inventory Hold Codes - this is the set of hold codes that define the hold status of the inventory quantity
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="HoldQuantity" minOccurs="1" maxOccurs="1" type="HoldQuantityType">
<xs:annotation>
<xs:documentation>
This is the quantity that is moving between the from hold code collection to the from hold code collection.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="HoldBaseUOMQuantity" minOccurs="0" maxOccurs="1" type="HoldBaseUOMQuantityType">
</xs:element>
<xs:element name="HoldAuxiliaryQuantity" minOccurs="0" maxOccurs="unbounded" type="HoldAuxiliaryQuantityType">
<xs:annotation>
<xs:documentation>
The held auxiliary quantity  on this transaction. 
e.g. where an item has an auxiliary quantity defined as a weight in KG, this would be the weight in KGs
			
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CountSequence" minOccurs="0" maxOccurs="1" type="IntegerBaseType">
<xs:annotation>
<xs:documentation>
The sequence number assigned to the last time this item was counted and reported on the bus.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="UserArea" minOccurs="0" maxOccurs="1" type="UserAreaType">
<xs:annotation>
<xs:documentation>
Allows the user of
				OAGIS to extend the specification in order to provide additional information that is
				not captured in OAGIS.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Status" minOccurs="0" maxOccurs="1" type="StatusType">
<xs:annotation>
<xs:documentation>
Indicates the current state of the associated object.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDsType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="IDType">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDType">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
Valid value is: System when this attribute exists
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The ID of the accounting entity that is associated with this ID. Used with the global ID - no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="location" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The ID of the location that is associated with this ID when applicable. . Used with the global ID- no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="variationID" type="IntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The sequence number that identifies the number of times that this BOD, for this object, has been published. Used with the global ID- no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The logical ID of the system that is this SOR for this noun instance.. Used with the global ID- no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="LastModificationPersonType">
<xs:sequence>
<xs:element name="IDs" minOccurs="0" maxOccurs="1" type="IDs1Type">
<xs:annotation>
<xs:documentation>
A container that holds a list of IDs without RevisionID.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="1" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDs1Type">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID1Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID1Type">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="NameType">
<xs:simpleContent>
<xs:extension base="StringBaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="DescriptionType">
<xs:simpleContent>
<xs:extension base="String3BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="NoteType">
<xs:simpleContent>
<xs:extension base="String4BaseType">
<xs:attribute name="noteID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
An optional identifier, that when used can uniquely identify each instance of a note within a BOD. It is only unique within the context of the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="use" type="NormalizedString2BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Indicates if the note should be published externally or if it is for internal use only. It may have the values &apos;&apos;Internal&apos;&apos; and &apos;&apos;External&apos;&apos;.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="author" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
Person who created the note
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="entryDateTime" type="UnionType" use="optional">
<xs:annotation>
<xs:documentation>
Entry date and time in GMT.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="status" type="String5BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Status of a note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="NormalizedString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies where the note is used and is associated to an Infor defined code list, &apos;&apos;NoteType,&apos;&apos; that indicates the processes that might use the note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="ItemInstanceType">
<xs:sequence>
<xs:choice>
<xs:sequence>
<xs:element name="ItemID" minOccurs="0" maxOccurs="unbounded" type="ItemIDType">
<xs:annotation>
<xs:documentation>
Is the primary item Identifier associated with the given item within the scope of the given integration as provided by the Party or entity that has created this document instance.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="UPCID" minOccurs="0" maxOccurs="1" type="NormalizedString6BaseType">
<xs:annotation>
<xs:documentation>
UPC ID - This is the UPC-A general purpose code. It has 1 digit for a system number, 5 digits for the manufacturer number, 5 digits for the product number, and one check sum digit.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EPCID" minOccurs="0" maxOccurs="1" type="NormalizedString7BaseType">
<xs:annotation>
<xs:documentation>
Electronic Product CodeLike the Universal Product Code (UPC) or bar code, the Electronic Product Code(EPC) is the fundamental identifier for a physical object in a EPC Network. The EPC identifies the manufacturer, product, version and serial number, and uses an extra set of digits to identify unique items. The EPC Tag Data Standards Specification Version 1.1 defines the encoding of the Electronic Product Code onto the RFID chip, as well as how it is encoded for use in the information systems layer of the EPC Network (for example the RFID Information Server).
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:choice>
<xs:element name="ServiceIndicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
Identifies if the Item is a Service.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description1Type">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="Note1Type">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PartyDescription" minOccurs="0" maxOccurs="unbounded" type="PartyDescriptionType">
<xs:annotation>
<xs:documentation>
description by which each customer or supplier knows this item
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Specification" minOccurs="0" maxOccurs="unbounded" type="SpecificationType">
<xs:annotation>
<xs:documentation>
Identifies the specification of an entity.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RFID" minOccurs="0" maxOccurs="unbounded" type="RFIDType">
<xs:annotation>
<xs:documentation>
radio frequency identifier (RFID)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SerialNumber" minOccurs="0" maxOccurs="unbounded" type="SerialNumberType">
<xs:annotation>
<xs:documentation>
Unique serial number assigned to the given item instance
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SerializedLot" minOccurs="0" maxOccurs="unbounded" type="SerializedLotType">
<xs:annotation>
<xs:documentation>
Is the Lot and Serial numbers for the items contained in the associated component by identifing the number of items and the uniques serial number of those items that belong to a given Lot.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="HoldCodes" minOccurs="0" maxOccurs="1" type="HoldCodesType">
<xs:annotation>
<xs:documentation>
The set of hold codes that define the hold status of the inventory quantity prior to this change.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="InventoryCharacteristic" minOccurs="0" maxOccurs="unbounded" type="InventoryCharacteristicType">
<xs:annotation>
<xs:documentation>
Characteristics that are tracked through out the warehouse and reported at the item instance level
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ItemIDType">
<xs:sequence>
<xs:element name="ID" minOccurs="1" maxOccurs="1" type="ID2Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RevisionID" minOccurs="0" maxOccurs="1" type="NormalizedString5BaseType">
<xs:annotation>
<xs:documentation>
Identifies the engineering change revision that this entity addresses.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID2Type">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
See ItemMaster noun for a list of options.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="schemeAgencyID" type="NormalizedString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The ID of the System, Owner, Customer, Manufacturer or Supplier that uses this ID to reference this item, in the case where the ID is from another system, this is the LogicalID of that system.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="schemeAgencyName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The name of the entity that created the ID. This is only used when the ID is defined externally and there is no ID for that agency - like for government agencies.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The ID of the accounting entity that is associated with this ID. Used with the global ID - no schemeNameAttribute.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="variationID" type="IntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The number of times this object has been published with these attributes for the accounting entity and location.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="Description1Type">
<xs:simpleContent>
<xs:extension base="String6BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for langauge codes other than &apos;en-us&apos; when this field is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="Note1Type">
<xs:simpleContent>
<xs:extension base="String4BaseType">
<xs:attribute name="noteID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
An optional identifier, that when used can uniquely identify each instance of a note within a BOD. It is only unique within the context of the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="use" type="NormalizedString2BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Indicates if the note should be published externally or if it is for internal use only. It may have the values &apos;&apos;Internal&apos;&apos; and &apos;&apos;External&apos;&apos;.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="author" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
Person who created the note
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="entryDateTime" type="UnionType" use="optional">
<xs:annotation>
<xs:documentation>
Entry date and time in GMT.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="status" type="String5BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Status of a note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="NormalizedString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies where the note is used and is associated to an Infor defined code list, &apos;&apos;NoteType,&apos;&apos; that indicates the processes that might use the note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for langauge codes other than &apos;en-us&apos; when this field is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="PartyDescriptionType">
<xs:simpleContent>
<xs:extension base="String7BaseType">
<xs:attribute name="partyType" type="NormalizedString8BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies the type of party: Customer, Supplier, or Manufacturer.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="partyID" type="NormalizedString8BaseType" use="optional">
<xs:annotation>
<xs:documentation>
ID of Party
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="partyAccountingEntity" type="NormalizedString8BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Accounting entity of Party
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="SpecificationType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID3Type">
<xs:annotation>
<xs:documentation>
The identifier for a specification. This does not point to another noun and does not use the accounting entity, location or lid attributes.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Property" minOccurs="0" maxOccurs="unbounded" type="PropertyType">
<xs:annotation>
<xs:documentation>
Represents the Properties or Features of the associated entity
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SpecificationType" minOccurs="0" maxOccurs="unbounded" type="SpecificationTypeType">
<xs:annotation>
<xs:documentation>
A code used to indicate if this specification is used to define a minimum, maximum, or target value.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PLMPrivateIndicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
An indicator used to identify Specifications that are likely not of interest to an ERP system.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="type" type="NormalizedStringBaseType" use="optional">
</xs:attribute>
</xs:complexType>
<xs:complexType name="ID3Type">
<xs:simpleContent>
<xs:extension base="NormalizedString9BaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="PropertyType">
<xs:sequence>
<xs:element name="NameValue" minOccurs="0" maxOccurs="1" type="NameValueType">
<xs:annotation>
<xs:documentation>
Is the tag and information of the new information to be passed.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description1Type">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="NoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveTimePeriod" minOccurs="0" maxOccurs="1" type="EffectiveTimePeriodType">
<xs:annotation>
<xs:documentation>
Indicates the time period in which the associated component is effective.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="sequence" type="PositiveIntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The sequence attribute is used for the ordering of elements within a document. It is not intended to be used as an identifier.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity. Workflow Properties
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="NameValueType">
<xs:simpleContent>
<xs:extension base="String8BaseType">
<xs:attribute name="name" type="NormalizedString4BaseType" use="required">
<xs:annotation>
<xs:documentation>
EngineeringReference&apos; or &apos;DrawingNumber&apos;
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies the data type of the value of this property.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="unitCode" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="unitCodeListVersionID" type="NormalizedString8BaseType" use="optional">
</xs:attribute>
<xs:attribute name="currencyID" type="NormalizedString10BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The code for the currency associated with an amount.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.  Dimension
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="nounName" type="NormalizedString8BaseType" use="optional">
</xs:attribute>
<xs:attribute name="schemeName" type="NormalizedString11BaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="EffectiveTimePeriodType">
<xs:sequence>
<xs:element name="StartDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The timestamp marking the beginning of a time period during which a related entity or status is effective or applicable.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="Duration" minOccurs="0" maxOccurs="1" type="DurationBaseType">
<xs:annotation>
<xs:documentation>
Indicates the duration of time as represented by ISO 8601. Where the value space is a six dimensional space where the coordinates designate the Gregorian year, month, day, hour, minute, and second. The number of seconds can include decimal digits to arbitary pecision. This can be used in place of the EndDateTime, but not in conjunction with it.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EndDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
Is the ending timestamp of the event. This can be used in place of the Duration, but not with it.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="SpecificationTypeType">
<xs:simpleContent>
<xs:extension base="NormalizedString12BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String9BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="location" type="String9BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The location that is associated with the maintenance of this instance of the noun. This attribute must not be included on the ID of objects that are maintained at the tenant or accounting entity level.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="RFIDType">
<xs:simpleContent>
<xs:extension base="NormalizedString7BaseType">
<xs:attribute name="lid" type="AnyURI1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="SerialNumberType">
<xs:simpleContent>
<xs:extension base="NormalizedString5BaseType">
<xs:attribute name="schemeName" type="String10BaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURI1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="SerializedLotType">
<xs:sequence>
<xs:element name="ItemQuantity" minOccurs="0" maxOccurs="1" type="ItemQuantityType">
<xs:annotation>
<xs:documentation>
Identifies the quantity of an item.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ItemBaseUOMQuantity" minOccurs="0" maxOccurs="1" type="ItemBaseUOMQuantityType">
<xs:annotation>
<xs:documentation>
The quantity of the item in the Base UOM.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Lot" minOccurs="0" maxOccurs="unbounded" type="LotType">
<xs:annotation>
<xs:documentation>
Identifies the Lot that a given Item Instance belongs to.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Disposition" minOccurs="0" maxOccurs="1" type="DispositionType">
<xs:annotation>
<xs:documentation>
Indicates whether an item is active, inactive, or in other various states. Examples of values for this field include: Active, Inactive, Hold, Deleted, Obsolete
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SerialNumber" minOccurs="0" maxOccurs="unbounded" type="SerialNumber1Type">
<xs:annotation>
<xs:documentation>
Unique serial number assigned to the given item instance by the manufacturer.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description2Type">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="NoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LotSelection" minOccurs="0" maxOccurs="1" type="NormalizedString4BaseType">
<xs:annotation>
<xs:documentation>
Any, Same, Specific
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FillBaseUOMQuantity" minOccurs="0" maxOccurs="1" type="FillBaseUOMQuantityType">
</xs:element>
<xs:element name="ProductionDate" minOccurs="0" maxOccurs="1" type="DateBaseType">
<xs:annotation>
<xs:documentation>
Date when the item was manufactured
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ExpiryDate" minOccurs="0" maxOccurs="1" type="DateBaseType">
<xs:annotation>
<xs:documentation>
Date when the item will expire. When this is not mentioned, it implies that there is no expiry date. 
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ItemQuantityType">
<xs:simpleContent>
<xs:extension base="DecimalBaseType">
<xs:attribute name="unitCode" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
Required when this measure is used
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="ItemBaseUOMQuantityType">
<xs:simpleContent>
<xs:extension base="DecimalBaseType">
<xs:attribute name="unitCode" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="LotType">
<xs:sequence>
<xs:element name="LotIDs" minOccurs="0" maxOccurs="1" type="LotIDsType">
<xs:annotation>
<xs:documentation>
Holds ID information associated with the Item&apos;s Lots.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveTimePeriod" minOccurs="0" maxOccurs="1" type="EffectiveTimePeriod1Type">
<xs:annotation>
<xs:documentation>
Indicates the time period in which the associated component is effective.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Quantity" minOccurs="0" maxOccurs="1" type="QuantityType">
<xs:annotation>
<xs:documentation>
Identifies the quantity of the associated service or item that is addresses by the component in which the quantity is associated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="BaseUOMQuantity" minOccurs="0" maxOccurs="1" type="BaseUOMQuantityType">
</xs:element>
<xs:element name="AuxiliaryQuantity" minOccurs="0" maxOccurs="unbounded" type="AuxiliaryQuantityType">
<xs:annotation>
<xs:documentation>
The auxiliary quantity related to the primary quantity on this transaction.e.g. where an item has an auxiliary quantity defined as a weight in KG, this would be the weight in KGs
			
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SerialNumber" minOccurs="0" maxOccurs="unbounded" type="SerialNumber1Type">
<xs:annotation>
<xs:documentation>
Unique serial number assigned to the given item instance by the manufacturer.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RFID" minOccurs="0" maxOccurs="unbounded" type="RFIDType">
<xs:annotation>
<xs:documentation>
radio frequency identifier (RFID)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="NoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Disposition" minOccurs="0" maxOccurs="1" type="DispositionType">
<xs:annotation>
<xs:documentation>
Indicates whether an item is active, inactive, or in other various states. Examples of values for this field include: Active, Inactive, Hold, Deleted, Obsolete
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CountryOfOriginCode" minOccurs="0" maxOccurs="1" type="CountryOfOriginCodeType">
<xs:annotation>
<xs:documentation>
##Not supported. Please use CountryAndPercent element. Represents the identifier of the country of origin of an item, service or shipment
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="CountryAndPercent" minOccurs="0" maxOccurs="unbounded" type="CountryAndPercentType">
<xs:annotation>
<xs:documentation>
Country of Origin information including a country code and a percentage.It is a collection with percentages and source and assembly. Many industries use standard country codes for Country of Origin. When there is a need to use custom codes (for example with Automotive), use element &apos;ComplexCountryOfOriginCode&apos;. For example country of origin UC7M indicates at least 70% U.S. and Canadian content but assembled in Mexico.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ComplexCountryOfOriginCode" minOccurs="0" maxOccurs="1" type="ComplexCountryOfOriginCodeType">
<xs:annotation>
<xs:documentation>
A code defined for a specific industry that indicates the countries of origin and percents in a single code.  For example country of origin UC7M indicates at least 70% U.S. and Canadian content but assembled in Mexico. If standard country of origin codes are used, use the element &apos;CountryAndPercent&apos;
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
<xs:element name="InventoryCharacteristic" minOccurs="0" maxOccurs="unbounded" type="InventoryCharacteristicType">
<xs:annotation>
<xs:documentation>
Characteristics that are tracked through out the warehouse and reported at the item instance level
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="LotIDsType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID4Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID4Type">
<xs:simpleContent>
<xs:extension base="NormalizedString13BaseType">
<xs:attribute name="sequence" type="PositiveIntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The sequence attribute is used for the ordering of elements within a document. It is not intended to be used as an identifier.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="EffectiveTimePeriod1Type">
<xs:sequence>
<xs:element name="StartDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The timestamp marking the beginning of a time period during which a related entity or status is effective or applicable.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="Duration" minOccurs="0" maxOccurs="1" type="DurationBaseType">
<xs:annotation>
<xs:documentation>
duration represents a duration of time. The ·value space· of duration is a six-dimensional space where the coordinates designate the Gregorian year, month, day, hour, minute, and second components defined in § 5.5.3.2 of [ISO 8601], respectively. These co
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EndDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
Is the ending timestamp of the event. This can be used in place of the Duration, but not with it.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="QuantityType">
<xs:simpleContent>
<xs:extension base="DecimalBaseType">
<xs:attribute name="unitCode" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
Required when this measure is used
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="BaseUOMQuantityType">
<xs:simpleContent>
<xs:extension base="DecimalBaseType">
<xs:attribute name="unitCode" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="AuxiliaryQuantityType">
<xs:simpleContent>
<xs:extension base="DecimalBaseType">
<xs:attribute name="unitCode" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
                                                        
                                                        
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="CountryOfOriginCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString14BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  Countries
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="CountryAndPercentType">
<xs:sequence>
<xs:element name="CountryCode" minOccurs="1" maxOccurs="1" type="CountryCodeType">
<xs:annotation>
<xs:documentation>
Country in which the Address exists. The list of values is specified in ISO 3166-2.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Percent" minOccurs="0" maxOccurs="1" type="DecimalBaseType">
<xs:annotation>
<xs:documentation>
The percentage of the item that comes from the specific country
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CountryCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString14BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  Countries
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="ComplexCountryOfOriginCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString1BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String9BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="location" type="String9BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The location that is associated with the maintenance of this instance of the noun. This attribute must not be included on the ID of objects that are maintained at the tenant or accounting entity level.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="DispositionType">
<xs:sequence>
<xs:element name="Code" minOccurs="0" maxOccurs="1" type="CodeType">
<xs:annotation>
<xs:documentation>
Element for the communication of all codes.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="1" type="DescriptionType">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString1BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  Disposition Codes
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String9BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="SerialNumber1Type">
<xs:simpleContent>
<xs:extension base="NormalizedString13BaseType">
<xs:attribute name="schemeName" type="String10BaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURI1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="Description2Type">
<xs:simpleContent>
<xs:extension base="String6BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="FillBaseUOMQuantityType">
<xs:simpleContent>
<xs:extension base="DecimalBaseType">
<xs:attribute name="unitCode" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="HoldCodesType">
<xs:sequence>
<xs:element name="Code" minOccurs="1" maxOccurs="unbounded" type="Code1Type">
<xs:annotation>
<xs:documentation>
Element for the communication of all codes.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Code1Type">
<xs:simpleContent>
<xs:extension base="NormalizedString16BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ListID for the code that it is associated with.  Hold Reason Codes
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String9BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InventoryCharacteristicType">
<xs:sequence>
<xs:element name="Type" minOccurs="1" maxOccurs="1" type="TypeType">
<xs:annotation>
<xs:documentation>
Indicates the type of
inventory characteristic specified (eg. pack date time, size etc.)
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="StringCharacteristic" minOccurs="0" maxOccurs="1" type="String7BaseType">
<xs:annotation>
<xs:documentation>
Used when the type depicts a characteristic of string data type
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DateTimeCharacteristic" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
Used when the characteristic is a date time value
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:complexType name="TypeType">
<xs:simpleContent>
<xs:extension base="NormalizedString15BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="WarehouseLocationType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID5Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="Description2Type">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID5Type">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="HoldCodes1Type">
<xs:sequence>
<xs:element name="Code" minOccurs="1" maxOccurs="unbounded" type="Code2Type">
<xs:annotation>
<xs:documentation>
Element for the communication of all codes.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Code2Type">
<xs:simpleContent>
<xs:extension base="NormalizedString16BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
Hold Reason Codes
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String9BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="HoldQuantityType">
<xs:simpleContent>
<xs:extension base="DecimalBaseType">
<xs:attribute name="unitCode" type="NormalizedString17BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Required when this measure is used
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="HoldBaseUOMQuantityType">
<xs:simpleContent>
<xs:extension base="DecimalBaseType">
<xs:attribute name="unitCode" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="HoldAuxiliaryQuantityType">
<xs:simpleContent>
<xs:extension base="DecimalBaseType">
<xs:attribute name="unitCode" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
                                                        
                                                        
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="StatusType">
<xs:sequence>
<xs:element name="Code" minOccurs="0" maxOccurs="1" type="Code3Type">
<xs:annotation>
<xs:documentation>
Code used to define the status of this document. See the code list associated to this code for the list of valid codes and their meanings.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
date and time this document becomes effective
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReasonCode" minOccurs="0" maxOccurs="1" type="ReasonCodeType">
<xs:annotation>
<xs:documentation>
Identifies the reason for an activity
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ArchiveIndicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
Indicator that determines if the BOD has been archived. The default value is false so there is no need to explicitly set this to false.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Code3Type">
<xs:simpleContent>
<xs:extension base="NormalizedString18BaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="ReasonCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="listID" type="NormalizedStringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String9BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="NormalizedStringBaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="StringBaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String1BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "22"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IntegerBaseType">
<xs:restriction base="xs:integer">
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AnyURIBaseType">
<xs:restriction base="xs:anyURI">
<xs:maxLength value = "255"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String2BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UnionType">
<xs:union memberTypes="xs:date xs:time xs:dateTime "/>
</xs:simpleType>
<xs:simpleType name="LanguageBaseType">
<xs:restriction base="xs:language">
<xs:maxLength value = "17"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String3BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String4BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "10240"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString1BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString2BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String5BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString3BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString4BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString5BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "22"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString6BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "12"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString7BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "255"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BooleanBaseType">
<xs:restriction base="xs:boolean">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String6BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String7BaseType">
<xs:restriction base="xs:string">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString8BaseType">
<xs:restriction base="xs:normalizedString">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString9BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "1"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String8BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "4000"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString10BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:enumeration value = "AED"/>
<xs:enumeration value = "AFN"/>
<xs:enumeration value = "ALL"/>
<xs:enumeration value = "AMD"/>
<xs:enumeration value = "ANG"/>
<xs:enumeration value = "AOA"/>
<xs:enumeration value = "ARS"/>
<xs:enumeration value = "AUD"/>
<xs:enumeration value = "AWG"/>
<xs:enumeration value = "AZN"/>
<xs:enumeration value = "BAM"/>
<xs:enumeration value = "BBD"/>
<xs:enumeration value = "BDT"/>
<xs:enumeration value = "BGN"/>
<xs:enumeration value = "BHD"/>
<xs:enumeration value = "BIF"/>
<xs:enumeration value = "BMD"/>
<xs:enumeration value = "BND"/>
<xs:enumeration value = "BOB"/>
<xs:enumeration value = "BRL"/>
<xs:enumeration value = "BSD"/>
<xs:enumeration value = "BTN"/>
<xs:enumeration value = "BWP"/>
<xs:enumeration value = "BYR"/>
<xs:enumeration value = "BZD"/>
<xs:enumeration value = "CAD"/>
<xs:enumeration value = "CDF"/>
<xs:enumeration value = "CHF"/>
<xs:enumeration value = "CLP"/>
<xs:enumeration value = "CNY"/>
<xs:enumeration value = "COP"/>
<xs:enumeration value = "CRC"/>
<xs:enumeration value = "CUC"/>
<xs:enumeration value = "CUP"/>
<xs:enumeration value = "CVE"/>
<xs:enumeration value = "CZK"/>
<xs:enumeration value = "DJF"/>
<xs:enumeration value = "DKK"/>
<xs:enumeration value = "DOP"/>
<xs:enumeration value = "DZD"/>
<xs:enumeration value = "EGP"/>
<xs:enumeration value = "ERN"/>
<xs:enumeration value = "ETB"/>
<xs:enumeration value = "EUR"/>
<xs:enumeration value = "FJD"/>
<xs:enumeration value = "FKP"/>
<xs:enumeration value = "GBP"/>
<xs:enumeration value = "GEL"/>
<xs:enumeration value = "GGP"/>
<xs:enumeration value = "GHS"/>
<xs:enumeration value = "GIP"/>
<xs:enumeration value = "GMD"/>
<xs:enumeration value = "GNF"/>
<xs:enumeration value = "GTQ"/>
<xs:enumeration value = "GYD"/>
<xs:enumeration value = "HKD"/>
<xs:enumeration value = "HNL"/>
<xs:enumeration value = "HRK"/>
<xs:enumeration value = "HTG"/>
<xs:enumeration value = "HUF"/>
<xs:enumeration value = "IDR"/>
<xs:enumeration value = "ILS"/>
<xs:enumeration value = "IMP"/>
<xs:enumeration value = "INR"/>
<xs:enumeration value = "IQD"/>
<xs:enumeration value = "IRR"/>
<xs:enumeration value = "ISK"/>
<xs:enumeration value = "JEP"/>
<xs:enumeration value = "JMD"/>
<xs:enumeration value = "JOD"/>
<xs:enumeration value = "JPY"/>
<xs:enumeration value = "KES"/>
<xs:enumeration value = "KGS"/>
<xs:enumeration value = "KHR"/>
<xs:enumeration value = "KMF"/>
<xs:enumeration value = "KPW"/>
<xs:enumeration value = "KRW"/>
<xs:enumeration value = "KWD"/>
<xs:enumeration value = "KYD"/>
<xs:enumeration value = "KZT"/>
<xs:enumeration value = "LAK"/>
<xs:enumeration value = "LBP"/>
<xs:enumeration value = "LKR"/>
<xs:enumeration value = "LRD"/>
<xs:enumeration value = "LSL"/>
<xs:enumeration value = "LTL"/>
<xs:enumeration value = "LVL"/>
<xs:enumeration value = "LYD"/>
<xs:enumeration value = "MAD"/>
<xs:enumeration value = "MDL"/>
<xs:enumeration value = "MGA"/>
<xs:enumeration value = "MKD"/>
<xs:enumeration value = "MMK"/>
<xs:enumeration value = "MNT"/>
<xs:enumeration value = "MOP"/>
<xs:enumeration value = "MRO"/>
<xs:enumeration value = "MUR"/>
<xs:enumeration value = "MVR"/>
<xs:enumeration value = "MWK"/>
<xs:enumeration value = "MXN"/>
<xs:enumeration value = "MYR"/>
<xs:enumeration value = "MZN"/>
<xs:enumeration value = "NAD"/>
<xs:enumeration value = "NGN"/>
<xs:enumeration value = "NIO"/>
<xs:enumeration value = "NOK"/>
<xs:enumeration value = "NPR"/>
<xs:enumeration value = "NZD"/>
<xs:enumeration value = "OMR"/>
<xs:enumeration value = "PAB"/>
<xs:enumeration value = "PEN"/>
<xs:enumeration value = "PGK"/>
<xs:enumeration value = "PHP"/>
<xs:enumeration value = "PKR"/>
<xs:enumeration value = "PLN"/>
<xs:enumeration value = "PYG"/>
<xs:enumeration value = "QAR"/>
<xs:enumeration value = "RON"/>
<xs:enumeration value = "RSD"/>
<xs:enumeration value = "RUB"/>
<xs:enumeration value = "RWF"/>
<xs:enumeration value = "SAR"/>
<xs:enumeration value = "SBD"/>
<xs:enumeration value = "SCR"/>
<xs:enumeration value = "SDG"/>
<xs:enumeration value = "SEK"/>
<xs:enumeration value = "SGD"/>
<xs:enumeration value = "SHP"/>
<xs:enumeration value = "SLL"/>
<xs:enumeration value = "SOS"/>
<xs:enumeration value = "SPL*"/>
<xs:enumeration value = "SRD"/>
<xs:enumeration value = "STD"/>
<xs:enumeration value = "SVC"/>
<xs:enumeration value = "SYP"/>
<xs:enumeration value = "SZL"/>
<xs:enumeration value = "THB"/>
<xs:enumeration value = "TJS"/>
<xs:enumeration value = "TMT"/>
<xs:enumeration value = "TND"/>
<xs:enumeration value = "TOP"/>
<xs:enumeration value = "TRY"/>
<xs:enumeration value = "TTD"/>
<xs:enumeration value = "TVD"/>
<xs:enumeration value = "TWD"/>
<xs:enumeration value = "TZS"/>
<xs:enumeration value = "UAH"/>
<xs:enumeration value = "UGX"/>
<xs:enumeration value = "USD"/>
<xs:enumeration value = "UYU"/>
<xs:enumeration value = "UZS"/>
<xs:enumeration value = "VEF"/>
<xs:enumeration value = "VND"/>
<xs:enumeration value = "VUV"/>
<xs:enumeration value = "WST"/>
<xs:enumeration value = "XAF"/>
<xs:enumeration value = "XCD"/>
<xs:enumeration value = "XDR"/>
<xs:enumeration value = "XOF"/>
<xs:enumeration value = "XPF"/>
<xs:enumeration value = "YER"/>
<xs:enumeration value = "ZAR"/>
<xs:enumeration value = "ZMK"/>
<xs:enumeration value = "ZWD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString11BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DurationBaseType">
<xs:restriction base="xs:duration">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="PositiveIntegerBaseType">
<xs:restriction base="xs:positiveInteger">
<xs:minInclusive value = "1"/>
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString12BaseType">
<xs:restriction base="xs:normalizedString">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String9BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AnyURI1BaseType">
<xs:restriction base="xs:anyURI">
<xs:maxLength value = "255"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String10BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "64"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DecimalBaseType">
<xs:restriction base="xs:decimal">
<xs:fractionDigits value = "8"/>
<xs:totalDigits value = "25"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString13BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "80"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString14BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:enumeration value = "AF"/>
<xs:enumeration value = "AX"/>
<xs:enumeration value = "AL"/>
<xs:enumeration value = "DZ"/>
<xs:enumeration value = "AS"/>
<xs:enumeration value = "AD"/>
<xs:enumeration value = "AO"/>
<xs:enumeration value = "AI"/>
<xs:enumeration value = "AQ"/>
<xs:enumeration value = "AG"/>
<xs:enumeration value = "AR"/>
<xs:enumeration value = "AM"/>
<xs:enumeration value = "AW"/>
<xs:enumeration value = "AU"/>
<xs:enumeration value = "AT"/>
<xs:enumeration value = "AZ"/>
<xs:enumeration value = "BS"/>
<xs:enumeration value = "BH"/>
<xs:enumeration value = "BD"/>
<xs:enumeration value = "BB"/>
<xs:enumeration value = "BY"/>
<xs:enumeration value = "BE"/>
<xs:enumeration value = "BZ"/>
<xs:enumeration value = "BJ"/>
<xs:enumeration value = "BM"/>
<xs:enumeration value = "BT"/>
<xs:enumeration value = "BO"/>
<xs:enumeration value = "BQ"/>
<xs:enumeration value = "BA"/>
<xs:enumeration value = "BW"/>
<xs:enumeration value = "BV"/>
<xs:enumeration value = "BR"/>
<xs:enumeration value = "IO"/>
<xs:enumeration value = "BN"/>
<xs:enumeration value = "BG"/>
<xs:enumeration value = "BF"/>
<xs:enumeration value = "BI"/>
<xs:enumeration value = "KH"/>
<xs:enumeration value = "CM"/>
<xs:enumeration value = "CA"/>
<xs:enumeration value = "CV"/>
<xs:enumeration value = "KY"/>
<xs:enumeration value = "CF"/>
<xs:enumeration value = "TD"/>
<xs:enumeration value = "CL"/>
<xs:enumeration value = "CN"/>
<xs:enumeration value = "CX"/>
<xs:enumeration value = "CC"/>
<xs:enumeration value = "CO"/>
<xs:enumeration value = "KM"/>
<xs:enumeration value = "CG"/>
<xs:enumeration value = "CD"/>
<xs:enumeration value = "CK"/>
<xs:enumeration value = "CR"/>
<xs:enumeration value = "CI"/>
<xs:enumeration value = "HR"/>
<xs:enumeration value = "CU"/>
<xs:enumeration value = "CW"/>
<xs:enumeration value = "CY"/>
<xs:enumeration value = "CZ"/>
<xs:enumeration value = "DK"/>
<xs:enumeration value = "DJ"/>
<xs:enumeration value = "DM"/>
<xs:enumeration value = "DO"/>
<xs:enumeration value = "EC"/>
<xs:enumeration value = "EG"/>
<xs:enumeration value = "SV"/>
<xs:enumeration value = "GQ"/>
<xs:enumeration value = "ER"/>
<xs:enumeration value = "EE"/>
<xs:enumeration value = "ET"/>
<xs:enumeration value = "FK"/>
<xs:enumeration value = "FO"/>
<xs:enumeration value = "FJ"/>
<xs:enumeration value = "FI"/>
<xs:enumeration value = "FR"/>
<xs:enumeration value = "GF"/>
<xs:enumeration value = "PF"/>
<xs:enumeration value = "TF"/>
<xs:enumeration value = "GA"/>
<xs:enumeration value = "GM"/>
<xs:enumeration value = "GE"/>
<xs:enumeration value = "DE"/>
<xs:enumeration value = "GH"/>
<xs:enumeration value = "GI"/>
<xs:enumeration value = "GR"/>
<xs:enumeration value = "GL"/>
<xs:enumeration value = "GD"/>
<xs:enumeration value = "GP"/>
<xs:enumeration value = "GU"/>
<xs:enumeration value = "GT"/>
<xs:enumeration value = "GG"/>
<xs:enumeration value = "GN"/>
<xs:enumeration value = "GW"/>
<xs:enumeration value = "GY"/>
<xs:enumeration value = "HT"/>
<xs:enumeration value = "HM"/>
<xs:enumeration value = "VA"/>
<xs:enumeration value = "HN"/>
<xs:enumeration value = "HK"/>
<xs:enumeration value = "HU"/>
<xs:enumeration value = "IS"/>
<xs:enumeration value = "IN"/>
<xs:enumeration value = "ID"/>
<xs:enumeration value = "IR"/>
<xs:enumeration value = "IQ"/>
<xs:enumeration value = "IE"/>
<xs:enumeration value = "IM"/>
<xs:enumeration value = "IL"/>
<xs:enumeration value = "IT"/>
<xs:enumeration value = "JM"/>
<xs:enumeration value = "JP"/>
<xs:enumeration value = "JE"/>
<xs:enumeration value = "JO"/>
<xs:enumeration value = "KZ"/>
<xs:enumeration value = "KE"/>
<xs:enumeration value = "KI"/>
<xs:enumeration value = "KP"/>
<xs:enumeration value = "KR"/>
<xs:enumeration value = "KW"/>
<xs:enumeration value = "KG"/>
<xs:enumeration value = "LA"/>
<xs:enumeration value = "LV"/>
<xs:enumeration value = "LB"/>
<xs:enumeration value = "LS"/>
<xs:enumeration value = "LR"/>
<xs:enumeration value = "LY"/>
<xs:enumeration value = "LI"/>
<xs:enumeration value = "LT"/>
<xs:enumeration value = "LU"/>
<xs:enumeration value = "MO"/>
<xs:enumeration value = "MK"/>
<xs:enumeration value = "MG"/>
<xs:enumeration value = "MW"/>
<xs:enumeration value = "MY"/>
<xs:enumeration value = "MV"/>
<xs:enumeration value = "ML"/>
<xs:enumeration value = "MT"/>
<xs:enumeration value = "MH"/>
<xs:enumeration value = "MQ"/>
<xs:enumeration value = "MR"/>
<xs:enumeration value = "MU"/>
<xs:enumeration value = "YT"/>
<xs:enumeration value = "MX"/>
<xs:enumeration value = "FM"/>
<xs:enumeration value = "MD"/>
<xs:enumeration value = "MC"/>
<xs:enumeration value = "MN"/>
<xs:enumeration value = "ME"/>
<xs:enumeration value = "MS"/>
<xs:enumeration value = "MA"/>
<xs:enumeration value = "MZ"/>
<xs:enumeration value = "MM"/>
<xs:enumeration value = "NA"/>
<xs:enumeration value = "NR"/>
<xs:enumeration value = "NP"/>
<xs:enumeration value = "NL"/>
<xs:enumeration value = "NC"/>
<xs:enumeration value = "NZ"/>
<xs:enumeration value = "NI"/>
<xs:enumeration value = "NE"/>
<xs:enumeration value = "NG"/>
<xs:enumeration value = "NU"/>
<xs:enumeration value = "NF"/>
<xs:enumeration value = "MP"/>
<xs:enumeration value = "NO"/>
<xs:enumeration value = "OM"/>
<xs:enumeration value = "PK"/>
<xs:enumeration value = "PW"/>
<xs:enumeration value = "PS"/>
<xs:enumeration value = "PA"/>
<xs:enumeration value = "PG"/>
<xs:enumeration value = "PY"/>
<xs:enumeration value = "PE"/>
<xs:enumeration value = "PH"/>
<xs:enumeration value = "PN"/>
<xs:enumeration value = "PL"/>
<xs:enumeration value = "PT"/>
<xs:enumeration value = "PR"/>
<xs:enumeration value = "QA"/>
<xs:enumeration value = "RE"/>
<xs:enumeration value = "RO"/>
<xs:enumeration value = "RU"/>
<xs:enumeration value = "RW"/>
<xs:enumeration value = "BL"/>
<xs:enumeration value = "SH"/>
<xs:enumeration value = "KN"/>
<xs:enumeration value = "LC"/>
<xs:enumeration value = "MF"/>
<xs:enumeration value = "PM"/>
<xs:enumeration value = "VC"/>
<xs:enumeration value = "WS"/>
<xs:enumeration value = "SM"/>
<xs:enumeration value = "ST"/>
<xs:enumeration value = "SA"/>
<xs:enumeration value = "SN"/>
<xs:enumeration value = "RS"/>
<xs:enumeration value = "SC"/>
<xs:enumeration value = "SL"/>
<xs:enumeration value = "SG"/>
<xs:enumeration value = "SX"/>
<xs:enumeration value = "SK"/>
<xs:enumeration value = "SI"/>
<xs:enumeration value = "SB"/>
<xs:enumeration value = "SO"/>
<xs:enumeration value = "ZA"/>
<xs:enumeration value = "GS"/>
<xs:enumeration value = "SS"/>
<xs:enumeration value = "ES"/>
<xs:enumeration value = "LK"/>
<xs:enumeration value = "SD"/>
<xs:enumeration value = "SR"/>
<xs:enumeration value = "SJ"/>
<xs:enumeration value = "SZ"/>
<xs:enumeration value = "SE"/>
<xs:enumeration value = "CH"/>
<xs:enumeration value = "SY"/>
<xs:enumeration value = "TW"/>
<xs:enumeration value = "TJ"/>
<xs:enumeration value = "TZ"/>
<xs:enumeration value = "TH"/>
<xs:enumeration value = "TL"/>
<xs:enumeration value = "TG"/>
<xs:enumeration value = "TK"/>
<xs:enumeration value = "TO"/>
<xs:enumeration value = "TT"/>
<xs:enumeration value = "TN"/>
<xs:enumeration value = "TR"/>
<xs:enumeration value = "TM"/>
<xs:enumeration value = "TC"/>
<xs:enumeration value = "TV"/>
<xs:enumeration value = "UG"/>
<xs:enumeration value = "UA"/>
<xs:enumeration value = "AE"/>
<xs:enumeration value = "GB"/>
<xs:enumeration value = "UM"/>
<xs:enumeration value = "US"/>
<xs:enumeration value = "UY"/>
<xs:enumeration value = "UZ"/>
<xs:enumeration value = "VU"/>
<xs:enumeration value = "VE"/>
<xs:enumeration value = "VN"/>
<xs:enumeration value = "VG"/>
<xs:enumeration value = "VI"/>
<xs:enumeration value = "WF"/>
<xs:enumeration value = "EH"/>
<xs:enumeration value = "YE"/>
<xs:enumeration value = "ZM"/>
<xs:enumeration value = "ZW"/>
<xs:enumeration value = "XK"/>
<xs:enumeration value = "XZ"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString15BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="DateBaseType">
<xs:restriction base="xs:date">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString16BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString17BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "256"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:complexType name="UserAreaType">
<xs:sequence>
<xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="NormalizedString18BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
<xs:enumeration value = "Open"/>
<xs:enumeration value = "Closed"/>
<xs:enumeration value = "Deleted"/>
<xs:enumeration value = "Pending"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="Property" type="InforUAPropertyType"/>
<xs:complexType name="InforUAPropertyType">
<xs:sequence>
<xs:element name="NameValue" minOccurs="0" maxOccurs="1" type="InforUANameValueType">
<xs:annotation>
<xs:documentation>
Is the tag and information of the new information to be passed.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="InforUADescriptionType">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="InforUANoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveTimePeriod" minOccurs="0" maxOccurs="1" type="InforUAEffectiveTimePeriodType">
<xs:annotation>
<xs:documentation>
Indicates the time period in which the associated component is effective.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="sequence" type="InforUAPositiveIntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The sequence attribute is used for the ordering of elements within a document. It is not intended to be used as an identifier.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity. Workflow Properties
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="InforUANameValueType">
<xs:simpleContent>
<xs:extension base="InforUAStringBaseType">
<xs:attribute name="name" type="InforUANormalizedStringBaseType" use="required">
<xs:annotation>
<xs:documentation>
This is the identifier for this Property within this document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies the data type of the value of this property.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="unitCode" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="unitCodeListVersionID" type="InforUANormalizedString2BaseType" use="optional">
</xs:attribute>
<xs:attribute name="currencyID" type="InforUANormalizedString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The code for the currency associated with an amount.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.  Dimension
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="nounName" type="InforUANormalizedString2BaseType" use="optional">
</xs:attribute>
<xs:attribute name="accountingEntity" type="InforUANormalizedString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="schemeName" type="InforUANormalizedString5BaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUADescriptionType">
<xs:simpleContent>
<xs:extension base="InforUAString1BaseType">
<xs:attribute name="languageID" type="InforUALanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUANoteType">
<xs:simpleContent>
<xs:extension base="InforUAString2BaseType">
<xs:attribute name="noteID" type="InforUANormalizedString6BaseType" use="optional">
<xs:annotation>
<xs:documentation>
An optional identifier, that when used can uniquely identify each instance of a note within a BOD. It is only unique within the context of the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="use" type="InforUANormalizedString7BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Indicates if the note should be published externally or if it is for internal use only. It may have the values &apos;&apos;Internal&apos;&apos; and &apos;&apos;External&apos;&apos;.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="author" type="InforUAString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Person who created the note
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="entryDateTime" type="InforUAUnionType" use="optional">
<xs:annotation>
<xs:documentation>
Entry date and time in GMT.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="status" type="InforUAString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Status of a note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="InforUANormalizedString8BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies where the note is used and is associated to an Infor defined code list, &apos;&apos;NoteType,&apos;&apos; that indicates the processes that might use the note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="InforUALanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUAEffectiveTimePeriodType">
<xs:sequence>
<xs:element name="StartDateTime" minOccurs="0" maxOccurs="1" type="InforUAUnionType">
<xs:annotation>
<xs:documentation>
The timestamp marking the beginning of a time period during which a related entity or status is effective or applicable.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="Duration" minOccurs="0" maxOccurs="1" type="InforUADurationBaseType">
<xs:annotation>
<xs:documentation>
Indicates the duration of time as represented by ISO 8601. Where the value space is a six dimensional space where the coordinates designate the Gregorian year, month, day, hour, minute, and second. The number of seconds can include decimal digits to arbitary pecision. This can be used in place of the EndDateTime, but not in conjunction with it.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EndDateTime" minOccurs="0" maxOccurs="1" type="InforUAUnionType">
<xs:annotation>
<xs:documentation>
Is the ending timestamp of the event. This can be used in place of the Duration, but not with it.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="InforUAStringBaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "4000"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedStringBaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString1BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString2BaseType">
<xs:restriction base="xs:normalizedString">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString3BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:enumeration value = "AED"/>
<xs:enumeration value = "AFN"/>
<xs:enumeration value = "ALL"/>
<xs:enumeration value = "AMD"/>
<xs:enumeration value = "ANG"/>
<xs:enumeration value = "AOA"/>
<xs:enumeration value = "ARS"/>
<xs:enumeration value = "AUD"/>
<xs:enumeration value = "AWG"/>
<xs:enumeration value = "AZN"/>
<xs:enumeration value = "BAM"/>
<xs:enumeration value = "BBD"/>
<xs:enumeration value = "BDT"/>
<xs:enumeration value = "BGN"/>
<xs:enumeration value = "BHD"/>
<xs:enumeration value = "BIF"/>
<xs:enumeration value = "BMD"/>
<xs:enumeration value = "BND"/>
<xs:enumeration value = "BOB"/>
<xs:enumeration value = "BRL"/>
<xs:enumeration value = "BSD"/>
<xs:enumeration value = "BTN"/>
<xs:enumeration value = "BWP"/>
<xs:enumeration value = "BYR"/>
<xs:enumeration value = "BZD"/>
<xs:enumeration value = "CAD"/>
<xs:enumeration value = "CDF"/>
<xs:enumeration value = "CHF"/>
<xs:enumeration value = "CLP"/>
<xs:enumeration value = "CNY"/>
<xs:enumeration value = "COP"/>
<xs:enumeration value = "CRC"/>
<xs:enumeration value = "CUC"/>
<xs:enumeration value = "CUP"/>
<xs:enumeration value = "CVE"/>
<xs:enumeration value = "CZK"/>
<xs:enumeration value = "DJF"/>
<xs:enumeration value = "DKK"/>
<xs:enumeration value = "DOP"/>
<xs:enumeration value = "DZD"/>
<xs:enumeration value = "EGP"/>
<xs:enumeration value = "ERN"/>
<xs:enumeration value = "ETB"/>
<xs:enumeration value = "EUR"/>
<xs:enumeration value = "FJD"/>
<xs:enumeration value = "FKP"/>
<xs:enumeration value = "GBP"/>
<xs:enumeration value = "GEL"/>
<xs:enumeration value = "GGP"/>
<xs:enumeration value = "GHS"/>
<xs:enumeration value = "GIP"/>
<xs:enumeration value = "GMD"/>
<xs:enumeration value = "GNF"/>
<xs:enumeration value = "GTQ"/>
<xs:enumeration value = "GYD"/>
<xs:enumeration value = "HKD"/>
<xs:enumeration value = "HNL"/>
<xs:enumeration value = "HRK"/>
<xs:enumeration value = "HTG"/>
<xs:enumeration value = "HUF"/>
<xs:enumeration value = "IDR"/>
<xs:enumeration value = "ILS"/>
<xs:enumeration value = "IMP"/>
<xs:enumeration value = "INR"/>
<xs:enumeration value = "IQD"/>
<xs:enumeration value = "IRR"/>
<xs:enumeration value = "ISK"/>
<xs:enumeration value = "JEP"/>
<xs:enumeration value = "JMD"/>
<xs:enumeration value = "JOD"/>
<xs:enumeration value = "JPY"/>
<xs:enumeration value = "KES"/>
<xs:enumeration value = "KGS"/>
<xs:enumeration value = "KHR"/>
<xs:enumeration value = "KMF"/>
<xs:enumeration value = "KPW"/>
<xs:enumeration value = "KRW"/>
<xs:enumeration value = "KWD"/>
<xs:enumeration value = "KYD"/>
<xs:enumeration value = "KZT"/>
<xs:enumeration value = "LAK"/>
<xs:enumeration value = "LBP"/>
<xs:enumeration value = "LKR"/>
<xs:enumeration value = "LRD"/>
<xs:enumeration value = "LSL"/>
<xs:enumeration value = "LTL"/>
<xs:enumeration value = "LVL"/>
<xs:enumeration value = "LYD"/>
<xs:enumeration value = "MAD"/>
<xs:enumeration value = "MDL"/>
<xs:enumeration value = "MGA"/>
<xs:enumeration value = "MKD"/>
<xs:enumeration value = "MMK"/>
<xs:enumeration value = "MNT"/>
<xs:enumeration value = "MOP"/>
<xs:enumeration value = "MRO"/>
<xs:enumeration value = "MUR"/>
<xs:enumeration value = "MVR"/>
<xs:enumeration value = "MWK"/>
<xs:enumeration value = "MXN"/>
<xs:enumeration value = "MYR"/>
<xs:enumeration value = "MZN"/>
<xs:enumeration value = "NAD"/>
<xs:enumeration value = "NGN"/>
<xs:enumeration value = "NIO"/>
<xs:enumeration value = "NOK"/>
<xs:enumeration value = "NPR"/>
<xs:enumeration value = "NZD"/>
<xs:enumeration value = "OMR"/>
<xs:enumeration value = "PAB"/>
<xs:enumeration value = "PEN"/>
<xs:enumeration value = "PGK"/>
<xs:enumeration value = "PHP"/>
<xs:enumeration value = "PKR"/>
<xs:enumeration value = "PLN"/>
<xs:enumeration value = "PYG"/>
<xs:enumeration value = "QAR"/>
<xs:enumeration value = "RON"/>
<xs:enumeration value = "RSD"/>
<xs:enumeration value = "RUB"/>
<xs:enumeration value = "RWF"/>
<xs:enumeration value = "SAR"/>
<xs:enumeration value = "SBD"/>
<xs:enumeration value = "SCR"/>
<xs:enumeration value = "SDG"/>
<xs:enumeration value = "SEK"/>
<xs:enumeration value = "SGD"/>
<xs:enumeration value = "SHP"/>
<xs:enumeration value = "SLL"/>
<xs:enumeration value = "SOS"/>
<xs:enumeration value = "SPL*"/>
<xs:enumeration value = "SRD"/>
<xs:enumeration value = "STD"/>
<xs:enumeration value = "SVC"/>
<xs:enumeration value = "SYP"/>
<xs:enumeration value = "SZL"/>
<xs:enumeration value = "THB"/>
<xs:enumeration value = "TJS"/>
<xs:enumeration value = "TMT"/>
<xs:enumeration value = "TND"/>
<xs:enumeration value = "TOP"/>
<xs:enumeration value = "TRY"/>
<xs:enumeration value = "TTD"/>
<xs:enumeration value = "TVD"/>
<xs:enumeration value = "TWD"/>
<xs:enumeration value = "TZS"/>
<xs:enumeration value = "UAH"/>
<xs:enumeration value = "UGX"/>
<xs:enumeration value = "USD"/>
<xs:enumeration value = "UYU"/>
<xs:enumeration value = "UZS"/>
<xs:enumeration value = "VEF"/>
<xs:enumeration value = "VND"/>
<xs:enumeration value = "VUV"/>
<xs:enumeration value = "WST"/>
<xs:enumeration value = "XAF"/>
<xs:enumeration value = "XCD"/>
<xs:enumeration value = "XDR"/>
<xs:enumeration value = "XOF"/>
<xs:enumeration value = "XPF"/>
<xs:enumeration value = "YER"/>
<xs:enumeration value = "ZAR"/>
<xs:enumeration value = "ZMK"/>
<xs:enumeration value = "ZWD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString4BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString5BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString1BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUALanguageBaseType">
<xs:restriction base="xs:language">
<xs:maxLength value = "17"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString2BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "10240"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString6BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString7BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString3BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAUnionType">
<xs:union memberTypes="xs:date xs:time xs:dateTime "/>
</xs:simpleType>
<xs:simpleType name="InforUAString4BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString8BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUADurationBaseType">
<xs:restriction base="xs:duration">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAPositiveIntegerBaseType">
<xs:restriction base="xs:positiveInteger">
<xs:minInclusive value = "1"/>
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
