schema/InforOAGIS/Nouns/SecurityPermissionMaster.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 

            ** OAGIS® Revision: 9.2  ** 
            ** Date: 11 May 2007 **
            ** Copyright 1997-2007, All Rights Reserved **

            This is an OAGIS® BOD XML Schema (XSD) Definition.

            License information for this file is provided in the file **OAGi License Agreement.txt** that is provided with this download package.

            For support, more information, or to report implementation bugs, please contact the Open Applications Group at xml@openapplications.org.

            XML Schema

-->
 <!--
 © Copyright 2011 Infor Global Solutions Technology GmbH and/or its affiliates and subsidiaries. All rights reserved. The
word and design marks set forth herein are trademarks and/or registered trademarks of Infor Global Solutions
Technology GmbH and/or its affiliates and subsidiaries. All rights reserved. All other trademarks listed herein
are the property of their respective owners.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schema.infor.com/InforOAGIS/2"
targetNamespace="http://schema.infor.com/InforOAGIS/2" elementFormDefault="qualified" attributeFormDefault="unqualified" 
version="2.13.6"><xs:element name="SecurityPermissionMaster" type="SecurityPermissionMasterType"/>
<xs:complexType name="SecurityPermissionMasterType">
<xs:sequence>
<xs:element name="IDs" minOccurs="0" maxOccurs="1" type="IDsType">
<xs:annotation>
<xs:documentation>
A container that holds a list of IDs without RevisionID.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LastModificationDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The datetime on which the object was last modified.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LastModificationPerson" minOccurs="0" maxOccurs="1" type="LastModificationPersonType">
<xs:annotation>
<xs:documentation>
A reference tot he person that took the action that caused this BOD to be published.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
The date that document was created within the system of record.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="DescriptionType">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="NoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Status" minOccurs="0" maxOccurs="1" type="StatusType">
<xs:annotation>
<xs:documentation>
Indicates the current state of the associated object.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="unbounded" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PermissionDetails" minOccurs="0" maxOccurs="unbounded" type="PermissionDetailsType">
</xs:element>
<xs:element name="UserArea" minOccurs="0" maxOccurs="1" type="UserAreaType">
<xs:annotation>
<xs:documentation>
Allows the user of
				OAGIS to extend the specification in order to provide additional information that is
				not captured in OAGIS.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDsType">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="IDType">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDType">
<xs:simpleContent>
<xs:extension base="NormalizedStringBaseType">
<xs:attribute name="schemeName" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="variationID" type="IntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The number of times this object has been published with these attributes for the accounting entity and location.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="LastModificationPersonType">
<xs:sequence>
<xs:element name="IDs" minOccurs="0" maxOccurs="1" type="IDs1Type">
<xs:annotation>
<xs:documentation>
A container that holds a list of IDs without RevisionID.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Name" minOccurs="0" maxOccurs="1" type="NameType">
<xs:annotation>
<xs:documentation>
Identifies the Name of the object in which associated.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="IDs1Type">
<xs:sequence>
<xs:element name="ID" minOccurs="0" maxOccurs="unbounded" type="ID1Type">
<xs:annotation>
<xs:documentation>
An identifier for an object. The ID has a number of possible attributes to further define how it should be used..
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ID1Type">
<xs:simpleContent>
<xs:extension base="NormalizedString1BaseType">
<xs:attribute name="accountingEntity" type="String1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="lid" type="AnyURIBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The LID of the system where the object can be maintained. This can be used by BIS to help automate the drill back process.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="DescriptionType">
<xs:simpleContent>
<xs:extension base="String2BaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="NoteType">
<xs:simpleContent>
<xs:extension base="String3BaseType">
<xs:attribute name="noteID" type="NormalizedString2BaseType" use="optional">
<xs:annotation>
<xs:documentation>
An optional identifier, that when used can uniquely identify each instance of a note within a BOD. It is only unique within the context of the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="use" type="NormalizedString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Indicates if the note should be published externally or if it is for internal use only. It may have the values &apos;&apos;Internal&apos;&apos; and &apos;&apos;External&apos;&apos;.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="author" type="StringBaseType" use="optional">
<xs:annotation>
<xs:documentation>
Person who created the note
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="entryDateTime" type="UnionType" use="optional">
<xs:annotation>
<xs:documentation>
Entry date and time in GMT.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="status" type="String4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Status of a note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="NormalizedString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies where the note is used and is associated to an Infor defined code list, &apos;&apos;NoteType,&apos;&apos; that indicates the processes that might use the note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="StatusType">
<xs:sequence>
<xs:element name="Code" minOccurs="0" maxOccurs="1" type="CodeType">
<xs:annotation>
<xs:documentation>
Code used to define the status of this document. See the code list associated to this code for the list of valid codes and their meanings.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveDateTime" minOccurs="0" maxOccurs="1" type="UnionType">
<xs:annotation>
<xs:documentation>
date and time this document becomes effective
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReasonCode" minOccurs="0" maxOccurs="1" type="ReasonCodeType">
<xs:annotation>
<xs:documentation>
Identifies the reason for an activity
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ArchiveIndicator" minOccurs="0" maxOccurs="1" type="BooleanBaseType">
<xs:annotation>
<xs:documentation>
Indicator that determines if the BOD has been archived. The default value is false so there is no need to explicitly set this to false.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString5BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="ReasonCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString1BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="accountingEntity" type="String5BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="NameType">
<xs:simpleContent>
<xs:extension base="StringBaseType">
<xs:attribute name="languageID" type="LanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="PermissionDetailsType">
<xs:sequence>
<xs:element name="PropertyCode" minOccurs="0" maxOccurs="1" type="PropertyCodeType">
</xs:element>
<xs:element name="KnownAs" minOccurs="0" maxOccurs="1" type="NormalizedString6BaseType">
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="1" type="DescriptionType">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PropertyCodeType">
<xs:simpleContent>
<xs:extension base="NormalizedString2BaseType">
<xs:attribute name="listID" type="NormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:simpleType name="NormalizedStringBaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "256"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="StringBaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String1BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "22"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="IntegerBaseType">
<xs:restriction base="xs:integer">
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="AnyURIBaseType">
<xs:restriction base="xs:anyURI">
<xs:maxLength value = "255"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="UnionType">
<xs:union memberTypes="xs:date xs:time xs:dateTime "/>
</xs:simpleType>
<xs:simpleType name="NormalizedString1BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="LanguageBaseType">
<xs:restriction base="xs:language">
<xs:maxLength value = "17"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String2BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String3BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "10240"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString2BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString3BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String4BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString4BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString5BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
<xs:enumeration value = "Open"/>
<xs:enumeration value = "Deleted"/>
<xs:enumeration value = "Pending"/>
<xs:enumeration value = "Closed"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="String5BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="BooleanBaseType">
<xs:restriction base="xs:boolean">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="NormalizedString6BaseType">
<xs:restriction base="xs:normalizedString">
</xs:restriction>
</xs:simpleType>
<xs:complexType name="UserAreaType">
<xs:sequence>
<xs:any namespace="##any" processContents="strict" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:element name="Property" type="InforUAPropertyType"/>
<xs:complexType name="InforUAPropertyType">
<xs:sequence>
<xs:element name="NameValue" minOccurs="0" maxOccurs="1" type="InforUANameValueType">
<xs:annotation>
<xs:documentation>
Is the tag and information of the new information to be passed.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Description" minOccurs="0" maxOccurs="unbounded" type="InforUADescriptionType">
<xs:annotation>
<xs:documentation>
Free form text that describes the object and repeats as needed to provide support for multilingual descriptions
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="Note" minOccurs="0" maxOccurs="unbounded" type="InforUANoteType">
<xs:annotation>
<xs:documentation>
A freeform note
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EffectiveTimePeriod" minOccurs="0" maxOccurs="1" type="InforUAEffectiveTimePeriodType">
<xs:annotation>
<xs:documentation>
Indicates the time period in which the associated component is effective.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:sequence>
<xs:attribute name="sequence" type="InforUAPositiveIntegerBaseType" use="optional">
<xs:annotation>
<xs:documentation>
The sequence attribute is used for the ordering of elements within a document. It is not intended to be used as an identifier.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity. Workflow Properties
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:complexType>
<xs:complexType name="InforUANameValueType">
<xs:simpleContent>
<xs:extension base="InforUAStringBaseType">
<xs:attribute name="name" type="InforUANormalizedStringBaseType" use="required">
<xs:annotation>
<xs:documentation>
This is the identifier for this Property within this document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies the data type of the value of this property.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="unitCode" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The unit-of-measure (UOM) code associated with a quantity. This is based upon the ISO standard.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="unitCodeListVersionID" type="InforUANormalizedString2BaseType" use="optional">
</xs:attribute>
<xs:attribute name="currencyID" type="InforUANormalizedString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The code for the currency associated with an amount.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="listID" type="InforUANormalizedString1BaseType" use="optional">
<xs:annotation>
<xs:documentation>
This attribute contains the Code List ID for the codes that are associated with corresponding entity.  Dimension
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="nounName" type="InforUANormalizedString2BaseType" use="optional">
</xs:attribute>
<xs:attribute name="accountingEntity" type="InforUANormalizedString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
The accounting entity that is associated with the maintenance of this instance of the noun. For objects that are maintained at the tenant level this attribute must not be included in the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="schemeName" type="InforUANormalizedString5BaseType" use="optional">
<xs:annotation>
<xs:documentation>
When no schemeName exists this is the default ID for the enterprise at the level where this object is maintained. The value of the ID must uniquely identify this object throughout the enterprise within the scope of the level where it is maintained (tenant, accounting entity or location). The specific values for this attribute are determined by the individual noun.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUADescriptionType">
<xs:simpleContent>
<xs:extension base="InforUAString1BaseType">
<xs:attribute name="languageID" type="InforUALanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUANoteType">
<xs:simpleContent>
<xs:extension base="InforUAString2BaseType">
<xs:attribute name="noteID" type="InforUANormalizedString6BaseType" use="optional">
<xs:annotation>
<xs:documentation>
An optional identifier, that when used can uniquely identify each instance of a note within a BOD. It is only unique within the context of the document.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="use" type="InforUANormalizedString7BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Indicates if the note should be published externally or if it is for internal use only. It may have the values &apos;&apos;Internal&apos;&apos; and &apos;&apos;External&apos;&apos;.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="author" type="InforUAString3BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Person who created the note
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="entryDateTime" type="InforUAUnionType" use="optional">
<xs:annotation>
<xs:documentation>
Entry date and time in GMT.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="status" type="InforUAString4BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Status of a note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="type" type="InforUANormalizedString8BaseType" use="optional">
<xs:annotation>
<xs:documentation>
Identifies where the note is used and is associated to an Infor defined code list, &apos;&apos;NoteType,&apos;&apos; that indicates the processes that might use the note.
</xs:documentation>
</xs:annotation>
</xs:attribute>
<xs:attribute name="languageID" type="InforUALanguageBaseType" use="optional">
<xs:annotation>
<xs:documentation>
This is required for language codes other than &quot;&quot;en-us&quot;&quot; when the element that includes this attribute is used.
</xs:documentation>
</xs:annotation>
</xs:attribute>
</xs:extension>
</xs:simpleContent>
</xs:complexType>
<xs:complexType name="InforUAEffectiveTimePeriodType">
<xs:sequence>
<xs:element name="StartDateTime" minOccurs="0" maxOccurs="1" type="InforUAUnionType">
<xs:annotation>
<xs:documentation>
The timestamp marking the beginning of a time period during which a related entity or status is effective or applicable.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:choice>
<xs:element name="Duration" minOccurs="0" maxOccurs="1" type="InforUADurationBaseType">
<xs:annotation>
<xs:documentation>
Indicates the duration of time as represented by ISO 8601. Where the value space is a six dimensional space where the coordinates designate the Gregorian year, month, day, hour, minute, and second. The number of seconds can include decimal digits to arbitary pecision. This can be used in place of the EndDateTime, but not in conjunction with it.
</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EndDateTime" minOccurs="0" maxOccurs="1" type="InforUAUnionType">
<xs:annotation>
<xs:documentation>
Is the ending timestamp of the event. This can be used in place of the Duration, but not with it.
</xs:documentation>
</xs:annotation>
</xs:element>
</xs:choice>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="InforUAStringBaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "4000"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedStringBaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString1BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString2BaseType">
<xs:restriction base="xs:normalizedString">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString3BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
<xs:enumeration value = "AED"/>
<xs:enumeration value = "AFN"/>
<xs:enumeration value = "ALL"/>
<xs:enumeration value = "AMD"/>
<xs:enumeration value = "ANG"/>
<xs:enumeration value = "AOA"/>
<xs:enumeration value = "ARS"/>
<xs:enumeration value = "AUD"/>
<xs:enumeration value = "AWG"/>
<xs:enumeration value = "AZN"/>
<xs:enumeration value = "BAM"/>
<xs:enumeration value = "BBD"/>
<xs:enumeration value = "BDT"/>
<xs:enumeration value = "BGN"/>
<xs:enumeration value = "BHD"/>
<xs:enumeration value = "BIF"/>
<xs:enumeration value = "BMD"/>
<xs:enumeration value = "BND"/>
<xs:enumeration value = "BOB"/>
<xs:enumeration value = "BRL"/>
<xs:enumeration value = "BSD"/>
<xs:enumeration value = "BTN"/>
<xs:enumeration value = "BWP"/>
<xs:enumeration value = "BYR"/>
<xs:enumeration value = "BZD"/>
<xs:enumeration value = "CAD"/>
<xs:enumeration value = "CDF"/>
<xs:enumeration value = "CHF"/>
<xs:enumeration value = "CLP"/>
<xs:enumeration value = "CNY"/>
<xs:enumeration value = "COP"/>
<xs:enumeration value = "CRC"/>
<xs:enumeration value = "CUC"/>
<xs:enumeration value = "CUP"/>
<xs:enumeration value = "CVE"/>
<xs:enumeration value = "CZK"/>
<xs:enumeration value = "DJF"/>
<xs:enumeration value = "DKK"/>
<xs:enumeration value = "DOP"/>
<xs:enumeration value = "DZD"/>
<xs:enumeration value = "EGP"/>
<xs:enumeration value = "ERN"/>
<xs:enumeration value = "ETB"/>
<xs:enumeration value = "EUR"/>
<xs:enumeration value = "FJD"/>
<xs:enumeration value = "FKP"/>
<xs:enumeration value = "GBP"/>
<xs:enumeration value = "GEL"/>
<xs:enumeration value = "GGP"/>
<xs:enumeration value = "GHS"/>
<xs:enumeration value = "GIP"/>
<xs:enumeration value = "GMD"/>
<xs:enumeration value = "GNF"/>
<xs:enumeration value = "GTQ"/>
<xs:enumeration value = "GYD"/>
<xs:enumeration value = "HKD"/>
<xs:enumeration value = "HNL"/>
<xs:enumeration value = "HRK"/>
<xs:enumeration value = "HTG"/>
<xs:enumeration value = "HUF"/>
<xs:enumeration value = "IDR"/>
<xs:enumeration value = "ILS"/>
<xs:enumeration value = "IMP"/>
<xs:enumeration value = "INR"/>
<xs:enumeration value = "IQD"/>
<xs:enumeration value = "IRR"/>
<xs:enumeration value = "ISK"/>
<xs:enumeration value = "JEP"/>
<xs:enumeration value = "JMD"/>
<xs:enumeration value = "JOD"/>
<xs:enumeration value = "JPY"/>
<xs:enumeration value = "KES"/>
<xs:enumeration value = "KGS"/>
<xs:enumeration value = "KHR"/>
<xs:enumeration value = "KMF"/>
<xs:enumeration value = "KPW"/>
<xs:enumeration value = "KRW"/>
<xs:enumeration value = "KWD"/>
<xs:enumeration value = "KYD"/>
<xs:enumeration value = "KZT"/>
<xs:enumeration value = "LAK"/>
<xs:enumeration value = "LBP"/>
<xs:enumeration value = "LKR"/>
<xs:enumeration value = "LRD"/>
<xs:enumeration value = "LSL"/>
<xs:enumeration value = "LTL"/>
<xs:enumeration value = "LVL"/>
<xs:enumeration value = "LYD"/>
<xs:enumeration value = "MAD"/>
<xs:enumeration value = "MDL"/>
<xs:enumeration value = "MGA"/>
<xs:enumeration value = "MKD"/>
<xs:enumeration value = "MMK"/>
<xs:enumeration value = "MNT"/>
<xs:enumeration value = "MOP"/>
<xs:enumeration value = "MRO"/>
<xs:enumeration value = "MUR"/>
<xs:enumeration value = "MVR"/>
<xs:enumeration value = "MWK"/>
<xs:enumeration value = "MXN"/>
<xs:enumeration value = "MYR"/>
<xs:enumeration value = "MZN"/>
<xs:enumeration value = "NAD"/>
<xs:enumeration value = "NGN"/>
<xs:enumeration value = "NIO"/>
<xs:enumeration value = "NOK"/>
<xs:enumeration value = "NPR"/>
<xs:enumeration value = "NZD"/>
<xs:enumeration value = "OMR"/>
<xs:enumeration value = "PAB"/>
<xs:enumeration value = "PEN"/>
<xs:enumeration value = "PGK"/>
<xs:enumeration value = "PHP"/>
<xs:enumeration value = "PKR"/>
<xs:enumeration value = "PLN"/>
<xs:enumeration value = "PYG"/>
<xs:enumeration value = "QAR"/>
<xs:enumeration value = "RON"/>
<xs:enumeration value = "RSD"/>
<xs:enumeration value = "RUB"/>
<xs:enumeration value = "RWF"/>
<xs:enumeration value = "SAR"/>
<xs:enumeration value = "SBD"/>
<xs:enumeration value = "SCR"/>
<xs:enumeration value = "SDG"/>
<xs:enumeration value = "SEK"/>
<xs:enumeration value = "SGD"/>
<xs:enumeration value = "SHP"/>
<xs:enumeration value = "SLL"/>
<xs:enumeration value = "SOS"/>
<xs:enumeration value = "SPL*"/>
<xs:enumeration value = "SRD"/>
<xs:enumeration value = "STD"/>
<xs:enumeration value = "SVC"/>
<xs:enumeration value = "SYP"/>
<xs:enumeration value = "SZL"/>
<xs:enumeration value = "THB"/>
<xs:enumeration value = "TJS"/>
<xs:enumeration value = "TMT"/>
<xs:enumeration value = "TND"/>
<xs:enumeration value = "TOP"/>
<xs:enumeration value = "TRY"/>
<xs:enumeration value = "TTD"/>
<xs:enumeration value = "TVD"/>
<xs:enumeration value = "TWD"/>
<xs:enumeration value = "TZS"/>
<xs:enumeration value = "UAH"/>
<xs:enumeration value = "UGX"/>
<xs:enumeration value = "USD"/>
<xs:enumeration value = "UYU"/>
<xs:enumeration value = "UZS"/>
<xs:enumeration value = "VEF"/>
<xs:enumeration value = "VND"/>
<xs:enumeration value = "VUV"/>
<xs:enumeration value = "WST"/>
<xs:enumeration value = "XAF"/>
<xs:enumeration value = "XCD"/>
<xs:enumeration value = "XDR"/>
<xs:enumeration value = "XOF"/>
<xs:enumeration value = "XPF"/>
<xs:enumeration value = "YER"/>
<xs:enumeration value = "ZAR"/>
<xs:enumeration value = "ZMK"/>
<xs:enumeration value = "ZWD"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString4BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "22"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString5BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString1BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "1024"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUALanguageBaseType">
<xs:restriction base="xs:language">
<xs:maxLength value = "17"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString2BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "10240"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString6BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString7BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAString3BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAUnionType">
<xs:union memberTypes="xs:date xs:time xs:dateTime "/>
</xs:simpleType>
<xs:simpleType name="InforUAString4BaseType">
<xs:restriction base="xs:string">
<xs:maxLength value = "100"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUANormalizedString8BaseType">
<xs:restriction base="xs:normalizedString">
<xs:maxLength value = "64"/>
<xs:minLength value = "0"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUADurationBaseType">
<xs:restriction base="xs:duration">
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="InforUAPositiveIntegerBaseType">
<xs:restriction base="xs:positiveInteger">
<xs:minInclusive value = "1"/>
<xs:totalDigits value = "22"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>
